/* Start of Articles/frequently asked block */

.container[data-ref="articles"] {
	@include writeResponsive(padding-bottom,50px,50px);
	&.notop {
		padding-top:0;
	}

	.inner-fix {

		.h2 {
			text-align:left;
		}

		.columns {
			width:100%;
			@include border-box();
			display: flex;
  			flex-wrap: wrap;

			.col {
				width:33%;
				@include border-box();
				padding:$rs70 0 0 $rs30;
				display: flex; 
				flex-direction: column;
				position:relative;

				img {
					width:100%;
				}

				.vMore {
					float:left;
					display:block;
					width:100%;
					border:1px #a6a6a6 solid;
					position:relative;
					@include transition-this();

					img {
						float:left;
					}

					span {
						display:block;
						position:absolute;
						left:50%; top:50%;
						@include translateXY();
						width:70%;
						@include font-size(30,36);
						font-weight:$font-weight-semibold;
						text-transform:uppercase;
						color:#a6a6a6;
					}

					&:hover {
						@include opacity(0.7);
					}
				}

				.box {
					display: flex;
					flex-direction: column;
					padding:$rs30 0;
					flex: 1 0 auto;

					p {
						flex: 1 0 auto;
						text-align:left;
					}

					.rmore {

						.btn {
							flex:none;
							float:right;
							margin-top:$rs30;
							color:$shade17;
							border-color:$shade17;

							&:hover {
								background-color:$shade17;
								color:#fef6f8;
							}
						}
					}
				}


				@media #{$sm-md-only} {
					width:50%;
				}
			}
		}
	}
}

/* End of Articles block */

/* Start of the individual articles block */

.container[data-ref="article"] {
	padding-bottom:75px;
	.bg-fix {
		position:absolute;
		left:0; top:0;
		width:100%;
		/*height:100vh;*/
		height:100%;
		//background-color:$shade16;
	}

	.inner-fix {

		.panel {
			background-color:$white;
			width:100%;
			padding:$rs50 $rs70 $rs90 $rs70;
			@include border-box();
			min-height:90vh;

			&:after {
				content:"";
				position:absolute;
				left:$rs70; right:$rs70;
				bottom:$rs40;
				border-bottom:1px $black solid;
			}

			h1.h2 {
				width:50%;
				@include border-box();
				padding-right:$rs50;
			}

			p {
				margin-top:$rs32 * 1.5;
				position:relative;

				&.div-line {
					margin-top:$rs32 * 2;

					&:after {
						content:"";
						position:absolute;
						left:0; right:0;
						top:-$rs16 * 1.5;
						border-bottom:1px rgba($black,0.15) solid;
					}
				}
			}

			ul {
				padding-left:$rs32;

				li {
					margin-top:$rs32 * 1.5;
					@include font-size(22,24);
				}
			}

			ol.refs {
				padding-left:$rs20;
				margin-top:$rs32 * 1.5;

				li {
					@include font-size(18,18);
					margin-bottom:$rs8;

					a {
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}

			p.refs-source {
				@include font-size(18,18);
				margin-top:$rs16;
			}

			img.head {
				float:right;
				width:50%;
				@include border-box();
				padding-left:$rs50;
				padding-bottom:$rs50;
			}


			@media #{$sm-md-only} {
				.head-swap {
					display:flex;
					flex-direction: column-reverse;
				}

				h1.h2 {
					width:100%;
					padding-right:0;
				}

				img.head {
					width:100%;
					padding-left:0;
					margin-top:$rs30;
					padding-bottom:$rs10;
				}
			}
		}
	}
}

/* End of the individual articles block */