.container[data-ref="blogpost"] {
padding-bottom:75px;
	.bg-fix {
		position:absolute;
		left:0; top:0;
		width:100%;
		height:100%;
	}

	.inner-fix {

		.panel {
			background-color:$white;
			width:100%;
			padding:$rs50 $rs70 $rs90 $rs70;
			@include border-box();

			/*min-height:90vh;*/

			/*
			&:after {
				content:"";
				position:absolute;
				left:$rs70; right:$rs70;
				bottom:$rs40;
				border-bottom:1px $black solid;
			}
			*/

			h1.h2 {
				width:50%;
				@include border-box();
				font-size:4rem;
				span{
					font-size:2.2rem;
					display:block;
					&.lhfix{
						line-height:2.6rem;
					}
				}
			}

			h2{
			    font-size: 1.375rem;
			    line-height: 1.5rem;
				margin-top:$rs32 * 1.5;
				margin-bottom:-$rs32 * 1.25;
			    font-weight:bold;
			}
			p {
				margin-top:$rs32 * 1.5;
				position:relative;
				&.cr{
					clear:right;
				}
				&.cl{
					clear:right;
				}
				&.cb{
					clear:both;
				}
				&.halfwwidth{
					width:50%;
				}
				&.div-line {
					margin-top:$rs32 * 2;

					&:after {
						content:"";
						position:absolute;
						left:0; right:0;
						top:-$rs16 * 1.5;
						border-bottom:1px rgba($black,0.15) solid;
					}
				}
				&.indent{
					padding-left:2rem;
				}
			}

			ul {
				padding-left:$rs32;

				li {
				    margin-top: 1rem;
				    font-size: 1.375rem;
				    line-height: 1.5rem;
					& > p{
						margin-top:1rem;
					}
				}
			}

			ol.refs {
				padding-left:$rs20;
				margin-top:$rs32 * 1.5;

				li {
					@include font-size(18,18);
					margin-bottom:$rs8;

					a {
						text-decoration:none;
						display: inline-block;
						max-width: 90%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}

			p.myth{
				font-weight:bold;
				color:#0033cc;
				span{}
				img{
					float:left;
					vertical-align:top;
					position:relative;
					top:-22px;
					margin-right:12px;
					@media (max-width:768px) {
						&{
							width:64px;
							top:-15px;
						}
					}
				}
			}
			p.myth2{
				span{
					font-weight:bold;
					color:#0033cc;
					display:block;
				}
			}

			p.refs-source {
				@include font-size(18,18);
				margin-top:$rs16;
			}

			img.head {
				float:right;
				width:50%;
				@include border-box();
				padding-left:$rs50;
				padding-bottom:$rs50;
				&.desktop{
					display:block;
				}
				&.mobile{
					display:none;
				}
			}

			.head-swap.imgleft{
				h1.h2 {
					width: auto;
				}				
				img.head {
					float: left;
					padding-left: 0;
					padding-right: 3.125rem;
				}
			}

			@media #{$sm-md-only} {
				.head-swap {
					display:flex;
					flex-direction: column-reverse;
					&.imgleft{
						img.head {
							padding-right:0;
						}
					}
				}

				h1.h2 {
					width:100%;
					padding-right:0;
				}

				p{
					width:100%;
					&.halfwwidth{
						width:100%;
					}
				}

				img.head {
					width:100%;
					padding-left:0;
					padding-right:0;
					margin-top:$rs30;
					padding-bottom:$rs10;
					&.desktop{
						display:none;
					}
					&.mobile{
						display:block;
					}
				}
			}
		}
	}
}


.container[data-ref="blogcrosslinks"] {
	padding-top:0;
	h2{
		margin-top:6rem;
		margin-bottom:5rem;
		font-size:4rem;
	}
	.links{
		ul{
			list-style-type:none;
			padding:0;
			margin:0;
			width:100%;
			display:flex;
			margin:0 -26px 0px -26px;
			flex-direction:unset;
			flex-wrap:wrap;
			li{
				width:50%;
				/* flex-basis:50%; */
				padding:0rem 26px 20px 26px;
				box-sizing:border-box;
				a{
					cursor:pointer;
				    font-size: 1.4rem;
				    line-height: 120%;
					display:block;
					width:100%;
					box-sizing:border-box;
					background-color:#fae8e6;
					color:#000;
					padding:1.6rem 4rem 1.6rem 4rem;
					text-align:left;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					&.current{
						color:#d45779;
					}
				}
				@media #{$sm-md-only} {
					&{
						width:100%;
					}
				}
			}
			@media #{$sm-md-only} {
				&{
					margin-left:0px;
					margin-right:0px;
					height:auto;
					li{
						width:100%;
						padding-left:0;
						padding-right:0;
					}
					
				}
			}
		}
	}
}