/* Start of Dr Sara and What is pH balance? */

.slide_button {

	&.left {
		@include translateX(50px);
	}

	&.right {
		@include translateX(-50px);
	}

	&.shifted {
		@include translateX(0px);
	}

}

.container[data-ref="dr-sara-ph-balance"] {
	@include writeResponsive(padding-bottom,100px,78px);
	overflow-y:hidden;

	.bg-split {
		position:absolute;
		top:0;
		width:50%;
		height:100%;

		&.left {
			left:0;
		}

		&.right {
			left:50%;
		}

		@media #{$sm-md-only} {
			width:100%;

			&.right {
				left:0;
			}
		}

		@media #{$md-only} {
			height:978px;
			
			&.right {
				height:878px;
				top:978px;
			}
		}

		@media #{$sm-only} {
			height:978px * $scale_sm;
			
			&.right {
				height:978px * $scale_sm;
				top:978px * $scale_sm;
			}
		}
	}

	.col50 {
		float:left;
		width:50%;

		@media #{$sm-md-only} {
			width:100%;
		}
	}

	.block-sara {
		width:525px;
		float:right;
		margin-right:30px;
		position:relative;

		.title {
			position:absolute;
			left:0; top:0;
			@include wh(272px);
			border:2px $shade5 solid;
			padding:20px 30px;
			@include border-box();
			@include translateXY(-62px,-70px);

			&.shifted {
				@include translateXY(-112px,-70px);
			}

			h2 {
				color: $shade5;
				text-align:left;
			}
		}

		@media #{$xlg-only} {
			width: 525px * $scale_xlg;
			margin-right:30px * $scale_xlg;

			.title {
				@include wh(272px * $scale_xlg);
				padding:20px * $scale_xlg 30px * $scale_xlg;
				@include translateXY(-62px * $scale_xlg,-70px * $scale_xlg);

				&.shifted {
					@include translateXY(-112px * $scale_xlg,-70px * $scale_xlg);
				}
			}
		}

		@media #{$lg-only} {
			width: 525px * $scale_lg;
			margin-right:30px * $scale_lg;

			.title {
				@include wh(272px * $scale_lg);
				padding:20px * $scale_lg 30px * $scale_lg;
				@include translateXY(-62px * $scale_lg,-70px * $scale_lg);

				&.shifted {
					@include translateXY(-112px * $scale_lg,-70px * $scale_lg);
				}
			}
		}

		@media #{$md-only} {
			width: 560px ;
			margin-right:95px;
			margin-bottom:60px;

			.title {
				@include wh(225px);
				padding:20px 30px;
				@include translateXY(-6px,-38px);

				&.shifted {
					@include translateXY(-56px,-38px);
				}
			}
		}

		@media #{$sm-only} {
			width: 560px * $scale_sm;
			margin-right:95px * $scale_sm;
			margin-bottom:60px * $scale_sm;

			.title {
				@include wh(225px * $scale_sm);
				padding:20px * $scale_sm 30px * $scale_sm;
				@include translateXY(-6px * $scale_sm,-38px * $scale_sm);

				&.shifted {
					@include translateXY(-56px * $scale_sm,-38px * $scale_sm);
				}
			}
		}

		img {
			width:100%;
		}

		p, h3 {
			text-align:left;
			@include writeResponsive(margin-top,40px,35px);
		}

		p {
			margin-top:$rs22;
		}

		h3 {
			color:$shade5;
		}

		a.btn {
			float:right;
			border:2px $shade5 solid;
			color:$shade5;

			@include writeResponsive(margin-top,40px,35px);

			&:hover {
				background-color:$shade5;
				color:$shade3;
			}
		}
	}

	.block-ph {
		width:525px;
		height:850px;
		float:left;
		margin-left:60px;
		position:relative;
		background-color:$shade6;
		padding:215px 55px 30px 55px;
		@include border-box();		

		h2 {
			position:absolute;
			font-family: $font-family-gotham;
			left:5px; top:-45px;
			color: $shade7;
			text-align:left;

			&.shifted {
				left:-45px;
			}
		}

		#ph_button {
			position:absolute;
			right:55px;
			bottom:60px;
		}

		@media #{$xlg-only} {
			width: 525px * $scale_xlg;
			height:850px * $scale_xlg;
			margin-left:60px * $scale_xlg;
			padding:215px * $scale_xlg 55px * $scale_xlg 30px * $scale_xlg 55px * $scale_xlg;

			h2 {
				left:5px * $scale_xlg; top:-45px * $scale_xlg;

				&.shifted {
					left:-45px * $scale_xlg;
				}
			}

			#ph_button {
				right:55px * $scale_xlg;
				bottom:60px * $scale_xlg;
			}
		}

		@media #{$lg-only} {
			width: 525px * $scale_lg;
			height:850px * $scale_lg;
			margin-left:60px * $scale_lg;
			padding:215px * $scale_lg 55px * $scale_lg 30px * $scale_lg 55px * $scale_lg;

			h2 {
				left:5px * $scale_lg; top:-45px * $scale_lg;

				&.shifted {
					left:-45px * $scale_lg;
				}
			}

			#ph_button {
				right:55px * $scale_lg;
				bottom:60px * $scale_lg;
			}
		}

		@media #{$md-only} {
			width: 560px;
			height:auto;
			margin-left:60px;
			padding:215px 55px 160px 55px;
			margin-top:95px;

			h2 {
				width:370px;
				left:5px; top:-33px;

				&.shifted {
					left:-45px;
				}
			}
		}

		@media #{$sm-only} {
			width: 560px * $scale_sm;
			height:auto;
			margin-left:95px * $scale_sm;
			margin-top:95px * $scale_sm;
			padding:215px * $scale_sm 55px * $scale_sm 160px * $scale_sm 55px * $scale_sm;

			h2 {
				width:370px * $scale_sm;
				left:-5px * $scale_sm; top:-33px * $scale_sm;

				&.shifted {
					left:-45px * $scale_sm;
				}
			}

			#ph_button {
				right:55px * $scale_sm;
				bottom:60px * $scale_sm;
			}
		}

		p, h3 {
			text-align:left;
		}

		p {
			margin-top:$rs22;
		}

		a.btn {
			float:right;
			border:2px $shade7 solid;
			color:$shade7;

			@include writeResponsive(margin-top,40px,35px);

			&:hover {
				background-color:$shade7;
				color:$shade4;
			}
		}
	}
}

/* End of Dr Sara and What is pH balance? */