/* Start of Dr Sara and What is pH balance? */

.slide_button {

	&.left {
		@include translateX(50px);
	}

	&.right {
		@include translateX(-50px);
	}

	&.shifted {
		@include translateX(0px);
	}

}

.container[data-ref="dr-sara-ph-balance"] {
	padding-top:0;

	.flex-fix {
		width:100%;
		display:flex;

		.col50 {
			float:left;
			width:50%;
			@include writeResponsive(padding-top,100px,78px, padding-bottom,100px,78px);
			display:flex;
			flex-direction: column;

			&[data-col="1"] {
				background-color:$shade3;
				align-items:flex-end;
			}
			&[data-col="2"] {
				background-color:$shade4;
			}

			@media #{$sm-md-only} {
				width:100%;
			}

			.block {
				flex: 1 0 auto;
			}
		}

		@media #{$sm-md-only} {
			flex-direction: column;

			.col50 {
				&[data-col="1"],
				&[data-col="2"] {
					align-items:center;
				}
			}
		}
	}	

	.block-sara {
		@include writeResponsive(width,525px,560px,margin-right,30px,0);
		float:right;
		position:relative;

		.title {
			position:absolute;
			left:0; top:0;
			@include wh(272px);
			border:2px $shade5 solid;
			padding:20px 30px;
			@include border-box();
			@include translateXY(-62px,-70px);

			&.shifted {
				@include translateXY(-112px,-70px);
			}

			h2 {
				color: $shade5;
				text-align:left;
			}
		}

		@media #{$xlg-only} {
			.title {
				@include wh(272px * $scale_xlg);
				padding:20px * $scale_xlg 30px * $scale_xlg;
				@include translateXY(-62px * $scale_xlg,-70px * $scale_xlg);

				&.shifted {
					@include translateXY(-112px * $scale_xlg,-70px * $scale_xlg);
				}
			}
		}

		@media #{$lg-only} {
			.title {
				@include wh(272px * $scale_lg);
				padding:20px * $scale_lg 30px * $scale_lg;
				@include translateXY(-62px * $scale_lg,-70px * $scale_lg);

				&.shifted {
					@include translateXY(-112px * $scale_lg,-70px * $scale_lg);
				}
			}
		}

		@media #{$md-only} {
			float:none;

			.title {
				@include wh(225px);
				padding:20px 30px;
				@include translateXY(-6px,-38px);

				&.shifted {
					@include translateXY(-56px,-38px);
				}
			}
		}

		@media #{$sm-only} {
			.title {
				@include wh(225px * $scale_sm);
				padding:20px * $scale_sm 30px * $scale_sm;
				@include translateXY(-6px * $scale_sm,-38px * $scale_sm);

				&.shifted {
					@include translateXY(-56px * $scale_sm,-38px * $scale_sm);
				}
			}
		}

		img {
			float:left;
			margin-bottom:2rem;
			width:100%;
		}

		p, h3 {
			text-align:left;
			@include writeResponsive(margin-top,40px,35px);
		}

		p {
			margin-top:$rs22;
		}

		h3 {
			color:$shade5;
		}

		a.btn {
			float:right;
			border:2px $shade5 solid;
			color:$shade5;

			@include writeResponsive(margin-top,40px,35px);

			&:hover {
				background-color:$shade5;
				color:$shade3;
			}
		}
	}

	.block-ph {
		@include writeResponsive(width,525px,560px,margin-left,60px,0);
		float:left;
		position:relative;
		background-color:$shade6;
		padding:215px 55px 30px 55px;
		@include border-box();		

		h2 {
			position:absolute;
			font-family: $font-family-gotham;
			left:5px; top:-45px;
			color: $shade7;
			text-align:left;
			@include writeResponsive(width,null,370px);

			&.shifted {
				left:-45px;
			}
		}

		#ph_button {
			position:absolute;
			right:55px;
			bottom:60px;
		}

		@media #{$xlg-only} {
			padding:215px * $scale_xlg 55px * $scale_xlg 30px * $scale_xlg 55px * $scale_xlg;

			h2 {
				left:5px * $scale_xlg; top:-45px * $scale_xlg;

				&.shifted {
					left:-45px * $scale_xlg;
				}
			}

			#ph_button {
				right:55px * $scale_xlg;
				bottom:60px * $scale_xlg;
			}
		}

		@media #{$lg-only} {
			padding:215px * $scale_lg 55px * $scale_lg 30px * $scale_lg 55px * $scale_lg;

			h2 {
				left:5px * $scale_lg; top:-45px * $scale_lg;

				&.shifted {
					left:-45px * $scale_lg;
				}
			}

			#ph_button {
				right:55px * $scale_lg;
				bottom:60px * $scale_lg;
			}
		}

		@media #{$sm-md-only} {
			margin-top:$rs30;
			padding:($rs60*2) $rs50 ($rs80*2) $rs50;
			h2 {
				left:(-$rs10/2); top:-$rs32;

				&.shifted {
					left:-$rs48;
				}
			}
		}

		@media #{$sm-only} {
			#ph_button {
				right:55px * $scale_sm;
				bottom:60px * $scale_sm;
			}
		}

		p, h3 {
			text-align:left;
		}

		p {
			margin-top:$rs22;
		}

		a.btn {
			float:right;
			border:2px $shade7 solid;
			color:$shade7;

			@include writeResponsive(margin-top,40px,35px);

			&:hover {
				background-color:$shade7;
				color:$shade4;
			}
		}
	}
}

/* End of Dr Sara and What is pH balance? */