body.faqs {
	#contentWrapper {
		.filtered-enter-active {
			animation: faqReturn ease-out 0.5s;
			animation-iteration-count: 1;
			transform-origin: 50% 0%;
			animation-fill-mode:forwards; /*when the spec is finished*/
			-webkit-animation: faqReturn ease-out 0.5s;
			-webkit-animation-iteration-count: 1;
			-webkit-transform-origin: 50% 50%;
			-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
			-moz-animation: faqReturn ease-out 0.5s;
			-moz-animation-iteration-count: 1;
			-moz-transform-origin: 50% 50%;
			-moz-animation-fill-mode:forwards; /*FF 5+*/
			-o-animation: faqReturn ease-out 0.5s;
			-o-animation-iteration-count: 1;
			-o-transform-origin: 50% 50%;
			-o-animation-fill-mode:forwards; /*Not implemented yet*/
			-ms-animation: faqReturn ease-out 0.5s;
			-ms-animation-iteration-count: 1;
			-ms-transform-origin: 50% 50%;
			-ms-animation-fill-mode:forwards; /*IE 10+*/
		}

		.filtered-leave-active {
		    animation: faqRemove ease-out 0.5s;
			animation-iteration-count: 1;
			transform-origin: 50% 0%;
			animation-fill-mode:forwards; /*when the spec is finished*/
			-webkit-animation: faqRemove ease-out 0.5s;
			-webkit-animation-iteration-count: 1;
			-webkit-transform-origin: 50% 50%;
			-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
			-moz-animation: faqRemove ease-out 0.5s;
			-moz-animation-iteration-count: 1;
			-moz-transform-origin: 50% 50%;
			-moz-animation-fill-mode:forwards; /*FF 5+*/
			-o-animation: faqRemove ease-out 0.5s;
			-o-animation-iteration-count: 1;
			-o-transform-origin: 50% 50%;
			-o-animation-fill-mode:forwards; /*Not implemented yet*/
			-ms-animation: faqRemove ease-out 0.5s;
			-ms-animation-iteration-count: 1;
			-ms-transform-origin: 50% 50%;
			-ms-animation-fill-mode:forwards; /*IE 10+*/
		}
	}
}

@keyframes faqRemove{
  0% {
    transform:  scale(1.00) ;
  }
  50% {
    transform:  scale(1.20) ;
  }
  100% {
    transform:  scale(0.00) ;
  }
}

@-moz-keyframes faqRemove{
  0% {
    -moz-transform:  scale(1.00) ;
  }
  50% {
    -moz-transform:  scale(1.20) ;
  }
  100% {
    -moz-transform:  scale(0.00) ;
  }
}

@-webkit-keyframes faqRemove {
  0% {
    -webkit-transform:  scale(1.00) ;
  }
  50% {
    -webkit-transform:  scale(1.20) ;
  }
  100% {
    -webkit-transform:  scale(0.00) ;
  }
}

@-o-keyframes faqRemove {
  0% {
    -o-transform:  scale(1.00) ;
  }
  50% {
    -o-transform:  scale(1.20) ;
  }
  100% {
    -o-transform:  scale(0.00) ;
  }
}

@-ms-keyframes faqRemove {
  0% {
    -ms-transform:  scale(1.00) ;
  }
  50% {
    -ms-transform:  scale(1.20) ;
  }
  100% {
    -ms-transform:  scale(0.00) ;
  }
}



@keyframes faqReturn{
  0% {
    transform:  scale(0.00) ;
  }
  50% {
    transform:  scale(1.20) ;
  }
  100% {
    transform:  scale(1.00) ;
  }
}

@-moz-keyframes faqRemove{
  0% {
    -moz-transform:  scale(0.00) ;
  }
  50% {
    -moz-transform:  scale(1.20) ;
  }
  100% {
    -moz-transform:  scale(1.00) ;
  }
}

@-webkit-keyframes faqRemove {
  0% {
    -webkit-transform:  scale(0.00) ;
  }
  50% {
    -webkit-transform:  scale(1.20) ;
  }
  100% {
    -webkit-transform:  scale(1.00) ;
  }
}

@-o-keyframes faqRemove {
  0% {
    -o-transform:  scale(0.00) ;
  }
  50% {
    -o-transform:  scale(1.20) ;
  }
  100% {
    -o-transform:  scale(1.00) ;
  }
}

@-ms-keyframes faqRemove {
  0% {
    -ms-transform:  scale(0.00) ;
  }
  50% {
    -ms-transform:  scale(1.20) ;
  }
  100% {
    -ms-transform:  scale(1.00) ;
  }
}