/* Start of Instagram block */

.container[data-ref="instagram"] {
	padding-top:50px;
	@include writeResponsive(padding-bottom,0px,78px);

	h2 {
		text-align:center;
		color:$black;
		font-family: $font-family-gotham;
		@include font-size(95,95);

		@media #{$sm-md-only} {
			&{
				font-size:4rem;
			}
		}

		@media #{$sm-only} {
			&{
			
			}
		}

	}

	// .instagram {
	// 	@include writeResponsive(padding-top,100px,78px);
	// 	display:inline-block;
	// 	width:100%;
	// 	text-align:center;

	// 	img {
	// 		float:left;
	// 		width:23%;
	// 		margin:0 1%;
	// 	}
	// }

	@media #{$sm-md-only} {
	// 	h2 {
	// 		@include font-size(60,60);
	// 	}

	// 	.instagram {
	// 		width:88%;
	// 		padding-left:6%;
	// 		padding-right:6%;

	// 		img {
	// 			width:44%;
	// 			margin:0 3% 6% 3%;
	// 		}
	// 	}
	}

	.instagram {
		@include writeResponsive(padding-top,100px,78px);
		@include writeResponsive(padding-bottom,100px,78px);
		display:flex;
		flex-wrap: wrap;
		width:100%;
		text-align:center;

		.block {
			width:23%;
			float:left;
			margin:0 1%;
			position:relative;

			.shim {
				float:left; width:100%;
			}

			@for $i from 1 through 20 {
				&[data-show="#{$i}"] {
					.gram[data-id="#{$i}"] {
						@include opacity(1);
						z-index:100;
					}
				}
			}

			.gram {
				position:absolute;
				left:0; top:0;
				width:100%; height:100%;
				overflow:hidden;
				@include opacity(0);
				z-index:1;
				@include transition-this(opacity,1s);

				a {
					display:block;
					position:absolute;
					left:0; top:0;
					width:100%; height:100%;
				}

				img.ig {
					position:absolute;
					left:0; top:0;
					width:100%; height:100%;
					@include transition-this(all,0.1s);
					z-index:1;
				}

				img.btn-play {
					position:absolute;
					right:1rem; top:1rem;
					//@include translateXY();
					width:51px; height:36px;
					@include transition-this(all,0.1s);
					z-index:2;
				}

				&:hover {
					img.ig {
						-moz-transform: scale(1.2);
						-webkit-transform: scale(1.2);
						-o-transform: scale(1.2);
						-ms-transform: scale(1.2);
						transform: scale(1.2);
					}
				}
			}


		}

		@media #{$sm-md-only} {
			width:88%;
			padding-left:6%;
	 		padding-right:6%;

			.block {
				width:44%;
	 			margin:0 3% 6% 3%;
			}
		}


	}
}

/* End of Instagram block */