/* Start of range block */

.container[data-ref="range"] {
	@include writeResponsive(padding-bottom,100px,78px);

	h1 {
		text-align:left;
		padding-bottom:$rs30;
	}


	.text {
		width:100%;
		text-align:left;
		@include font-size(26,32);
		font-weight:$font-weight-semibold;
		padding-left:$rs90;
		padding-bottom:$rs40;
		@include border-box();

		@media #{$sm-md-only} {
			padding-left:$rs70;
			@include font-size(20,24);
		}
	}


	.range-group {
		display:block;
		width:100%;
		padding-left:$rs60;
		@include border-box();

		.col {
			float:left;
			padding-left:$rs30;
			width:25%; height:370px;
			@include border-box();

			@media #{$xlg-only} {
				height:370px * $scale_xlg;
			}

			@media #{$lg-only} {
				height:370px * $scale_lg;
			}

			@media #{$sm-md-only} {
				width:50%;
				padding-left:$rs10;
				padding-bottom:$rs10;
			}

			@media #{$sm-only} {
				height:370px * $scale_sm;
			}

			div.inner {
				float:left;
				width:100%; height:100%;
				position:relative;
				overflow:hidden;

				img {
					position:absolute;
					left:0; top:0;
					height:100%;
					z-index:1;
				}

				h3 {
					position:absolute;
					top:$rs20;
					left:$rs20; right:$rs20;
					z-index:2;
					text-align:left;
					@include font-size(44,44);
				}

				a.btn {
					position:absolute;
					bottom:$rs20;
					left:$rs20; right:$rs20;
					z-index:3;
					border-color:$white;
					color:$white;

					&:hover {
						background-color:$white;
						color:black;
					}
				}
			}
		}
	}
}

/* End of range block */