/* Start of She Talks component block */

.container[data-ref="she-talks"] {
	@include writeResponsive(padding-bottom,100px,78px);

	.heading {
		width:22%;
		//@include writeResponsive(width,388px,388px);
		margin-left:$rs60;

		@media #{$sm-lg-only} {
			width:46%;
			margin-left:$rs20;
		}
	}

	.videoThumbs {
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		margin-top:$rs20;
		padding:0 $rs60;

		a {
			width:24%;
			position:relative;
			
			@media #{$sm-lg-only} {
				width:48%;
				margin-bottom:$rs20;
			}

			img {
				width:100%;
			}

			img.arrow {
				position:absolute;
				left:50%; top:50%;
				width:15%;
				@include translateXY();
			}
		}

		@media #{$sm-md-only} {
			padding:0 $rs20;
		}
	}

	.text {
		margin-top:$rs20;
		padding:0 $rs60;
		@include font-size(20,20);
		font-weight: $font-weight-semibold;

		@media #{$sm-md-only} {
			padding:0 $rs20;
		}
	}
}

/* End of She Talks component block */

/* Start of She Talks Single block */

.container[data-ref="she-talks-single"] {
	@include writeResponsive(padding-bottom,100px,78px);

	.video-wrap {
		display:inline-block;
		@include writeResponsive(width,1215px,560px);
		position:relative;
		padding-top:$rs60;

		h2 {
			position:absolute;
			@include writeResponsive(width,225px,225px);
			@include writeResponsive(left,-45px,-70px, top,15px,-10px);
			color: $black;
			text-align:left;
			z-index:2;
		}

		a {
			display:block;
			width:100%;
			position:relative;
			z-index:1;
		}

		img {
			width:100%;
		}

		img.arrow {
			position:absolute;
			left:50%; top:50%;
			width:15%;
			@include translateXY();
		}

		p {
			text-align:left;
			padding:$rs38;

			a.btn {
				display:block;
				float:right;
				width:auto;
				margin-top:$rs12;
				@include translateY();
			}
		}

		@media #{$md-only} {

			p {
				padding:$rs38 0;

				span {
					display:inline-block;
					width:50%;
				}

				a.btn {
					margin-top:$rs34;
				}
			}
		}

		@media #{$sm-only} {

			p {
				padding:$rs38 0;

				span {
					display:inline-block;
					width:50%;
				}

				a.btn {
					margin-top:$rs34;
				}
			}
		}
	}


}

/* End of She Talks Single block */