.container[data-ref="top-tips"] {
	@include writeResponsive(padding-bottom,100px,78px);

	.inner-fix {
		.desc {
			position:absolute;
			left:28rem; right:0; top:$rs16;
			@include font-size(26,28);
			font-weight:$font-weight-semibold;

			@media #{$sm-md-only} {
				position:relative;
				left:auto; right:auto; top:auto;
				padding:$rs30 $rs30 0 $rs30;
			}
		}

		.slick-wrapper {
			width:100%;
			position:relative;
			padding-left:$rs60;
			@include border-box();
			margin-top:$rs30;

			.arrow {
				position:absolute;
				top:$rs30;
				cursor:pointer;

				img {
					width:$rs32*2; height:$rs36*2;
				}

				&.left {
					left:$rs30 + $rs60;
					img {
						-moz-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}

				&.right {
					right:$rs30;
				}
			}

			&[data-show="1"] {
				.arrow.left {
					display:none!important;
				}
			}

			&[data-show="10"] {
				.arrow.right {
					display:none!important;
				}
			}

			.tip-title {
				color:#cce3a7;
				position:absolute;
				top:$rs30;
				left:0; right:0;
				text-align:center;
				@include font-size(77,100);
				@include translateY(-$rs24);

				@media #{$sm-md-only} {
					@include font-size(60,100);
					@include translateY(-$rs40);
				}


			}

			.slick-tips {
				width:100%;
				
				.slick-slide {
					img {
						width:100%;
					}
				}
			}

			@media #{$sm-md-only} {
				background-color:#ebf4dc;
				padding-left:0;
				padding-top:$rs24;

				.arrow {
					img {
						width:$rs32; height:$rs36;
					}

					&.left {
						left:$rs30;
					}
				}
			}

			@media #{$sm-only} {
				padding-top:$rs24*2;

				.arrow {
					img {
						width:$rs32*2; height:$rs36*2;
					}
				}
			}
		}
	}
}
