/* Start of Question block */

.container[data-ref="vulva-or-vagina"] {
	@include writeResponsive(padding-bottom,100px,78px);

	h2 {
		position:absolute;
		left:65px; top:0;
		font-family: $font-family-gotham;
		@include font-size(200,190);
		color: $shade10;
		text-transform: uppercase;
		text-align:left;
	}

	.text {
		position:absolute;
		right:464px;
		width:390px; height:390px;
		bottom:0;

		p {
			position:absolute;
			left:0; bottom:50%;
			@include translateY(50%);
			text-align:left;
			width:225px;
		}

		#quiz_button {
			position:absolute;
			left:0; bottom:0;
			display:inline;
		}

		a.btn {
			
			border:2px $shade10 solid;
			color:$shade10;
			

			&:hover {
				background-color:$shade10;
				color:$shade9;
			}
		}
	}

	.question-mark {
		float:right;
		width:464px;
		
		img {
			width:100%;
			border:2px $shade10 solid;	
		}
		
	}

	@media #{$xlg-only} {
		h2 {
			left:65px * $scale_xlg;
		}

		.text {
			right:464px * $scale_xlg;
			width:390px * $scale_xlg; height:390px * $scale_xlg;

			p {
				width:225px * $scale_xlg;
			}
		}

		.question-mark {
			width:464px * $scale_xlg;
		}
	}

	@media #{$lg-only} {
		h2 {
			left:65px * $scale_lg;
		}
		.text {
			right:464px * $scale_lg;
			width:390px * $scale_lg; height:390px * $scale_lg;

			p {
				width:225px * $scale_lg;
			}
		}
		.question-mark {
			width:464px * $scale_lg;
		}
	}

	@media #{$sm-md-only} {
		h2 {
			@include font-size(100,100);
			left:0;
		}
	}

	@media #{$md-only} {
		.text {
			right:320px;
			width:300px; height:340px;

			p {
				width:270px;
			}
		}
		.question-mark {
			width:320px;
		}
	}

	@media #{$sm-only} {
		.text {
			right:320px * $scale_sm;
			width:300px * $scale_sm; height:340px * $scale_sm;

			p {
				width:270px * $scale_sm;
			}
		}
		.question-mark {
			width:320px * $scale_sm;
		}
	}

}

/* End of Question block */
