/* Start of you may also like block */

.container[data-ref="ymal"] {
	@include writeResponsive(padding-bottom,100px,78px);

	h2 {
		text-align:left;
		padding-bottom:$rs30;
	}


	.text {
		width:100%;
		text-align:left;
		@include font-size(26,32);
		font-weight:$font-weight-bold;
		padding-left:$rs90;
		padding-bottom:$rs40;
		@include border-box();

		@media #{$sm-md-only} {
			padding-left:$rs70;
			@include font-size(20,24);
		}
	}


	.ymal-group {
		display:block;
		width:100%;
		@include border-box();

		.col {
			float:left;
			padding:0 $rs15 $rs30 $rs15;
			width:25%;
			@include border-box();

			@include writeResponsive(height,490px,490px);

			&.wide {
				width:50%;
			}

			div.inner {
				float:left;
				width:100%; height:100%;
				position:relative;
				overflow:hidden;
				// background-color:$white; // to show when we have a problem

				&.bg-daily-wash {background-color:#e7bf8b;}
				&.bg-soothing-wash {background-color:#e7bed1;}
				&.bg-active-wash {background-color:#d4e9f7;}
				&.bg-pure-wash {background-color:#e1eeca;}
				&.bg-wipes {background-color:#e2d9e6;}
				&.bg-ultimate-care-active-fresh-deodorant {background-color:#d4e9f7;}
				&.bg-freshness-deodorant {background-color:#e7bf8b;}
				&.bg-shower-shave-cream {background-color:#f7efd2;}
				&.bg-post-shave-balm {background-color:#f7efd2;}
				&.bg-re-balance-powder {background-color:#e7bf8b;}

				img {

					position:absolute;
					left:50%; top:0;
					height:100%;
					z-index:1;
					@include translateX();
				}
			}

			@media #{$sm-md-only} {
				width:50%;

				&.wide {
					width:100%;
				}
			}
		}
	}
}

/* End of you may also like block */