#drfrankie,.home_drfrankie{
	padding-top:30px;
	padding-bottom:70px;

	@media only screen and (max-width: 1460px) and (min-width: 1151px){
		max-width:1080px;
		padding-top:30px;
		padding-bottom:0px;
	}
	@media only screen and (max-width: 1150px) and (min-width: 961px){
		max-width: 862px;
		padding-top:30px;
		padding-bottom:0px;
	}
	@media only screen and (max-width: 960px) and (min-width: 701px){
		max-width: 750px;
		padding-top:30px;
		padding-bottom:30px;
	}
	@media only screen and (max-width: 700px) and (min-width: 0){
		max-width: 375px;
		padding-top:30px;
		padding-bottom:0px;
	}
	@media #{$md-only} {
		&{
			.inner-fix{
				max-width:700px;
			}
			
		}
	}
	.zoom-photo {
		float:left;
		width:812px;
		height:818px;
		overflow:hidden;
		position:relative;

		.init-slow {
			position:absolute;
			left:0; top:0;
			@include wh(100%);
			@include scale(1.2);

			&.started {
				@include scale(1);
			}
		}

		img {
			position:absolute;
			left:0%;
			top:0%;
			width:100%;
			height:auto;
			/*@include translateXY(-50%,-50%);*/
			&.d{display:block;}
			&.m{display:none;}
		}

		@media #{$xlg-only} {
			width:600px;
			height:700px;

		}

		@media #{$lg-only} {
			width:520px;
			height:580px;
		}

		@media #{$md-only} {
			width:560px;
			height:680px;
			overflow:hidden;
			img {
				top:0;
				@include translateXY(0%,0);
				width:100%;
				&.d{display:none;}
				&.m{display:block;}
			}
		}

		@media #{$sm-only} {
			width:280px;
			height:340px;
			overflow:hidden;
			img {
				top:0;
				@include translateXY(0%,0);
				width:100%;
				&.d{display:none;}
				&.m{display:block;}
			}
		}
	}

	.el1 {
		position:absolute;
		top:-8px;
		right:270px;
		font-weight:bold;
		@include font-size(50,50);
		text-transform: lowercase;
		color:$black;
		@include translateXY(0,-16px);

		@media #{$lg-only} {
			right:140px;
			top:0px;
		}
		@media #{$sm-md-only} {
			@include font-size(40,40);
		}

		@media #{$md-only} {
			width:100%;
			top:-9px;
			right:33px;
		}
		@media #{$sm-only} {
			width:100%;
			top:-3px;
			right:-7px;
		}
		.init {
			@include translateX(20%);
			@include opacity(0);

			&.started {
				@include translateX(0);
				@include opacity(1);
			}
		}
	}

	#el_head_text {
		position:absolute;
		right:0;
		bottom:0;
		//@include translateY(-25px);

		// &.shifted {
		// 	@include translateY(-50px);
		// 	@include opacity(0);
		// }
		@media #{$sm-md-only} {
			&{
				left:0;
				right:auto;
			}
		}
	}

	.el2 {
		position:absolute;
		right:30px;
		bottom:198px;
		background-color:$shade2;
		width:600px;
		padding:45px;
		@include border-box();
		@include translateY(125px);

		p {
			text-align:left;
			@include font-size(24,32);
			margin-top:$rs32;
			font-weight:$font-weight-semibold;

			&:first-child {
				margin-top:0;
			}
		}

		@media #{$xlg-only} {
			@include translateY(35px);
			right:0px;
		}

		@media #{$lg-only} {
			width:340px;
			padding:(45px * $scale_lg);
			@include translateY(65px);
		}

		@media #{$sm-md-only} {
			p {
				@include font-size(20,24);
				margin-top:$rs24;
			}
		}

		@media #{$md-only} {
			width:400px;
			padding:20px 35px;
			@include translateXY(290px,110px);
			right:auto;
			left:0px;
		}

		@media #{$sm-only} {
			width:180px;
			padding:10px 17px;
			right:0px;
			bottom:0px;
			@include translateXY(125px,-50px);
			right:auto;
			left:0px;
		}
	}
	
	.btn-group {
		position:absolute;
		right:0px;
		bottom:0px;
		@include translateXY(-250px,0px);

		/*&.shifted {
			@include translateXY(-50%, 155px);
			@include opacity(0);
		}*/

		.init {
			@include translateX(50px);
			@include opacity(0);

			&.started {
				@include translateX(0px);
				@include opacity(1);
			}
		}

		.btn {
			@include translateX(31px);
		}

		@media #{$xlg-only} {
			@include translateXY(-200px,-96px);

			/*&.shifted {
				@include translateXY(-80px);
			}*/
		}

		@media #{$lg-only} {
			@include translateXY(-100px,-60px);

			/*&.shifted {
				@include translateXY(-50%, 155px * $scale_lg);
			}*/
		}

		@media #{$md-only} {
			right:auto;
			left:0px;
			@include translateXY(370px,26px);

			/*&.shifted {
				@include translateXY(0, 160px);
			}*/

			.btn {
				padding-left:36px;
				padding-right:36px;
				@include translateX(0);
			}
		}

		@media #{$sm-only} {
			right:auto;
			left:0px;
			@include translateXY(125px,6px);

			/*&.shifted {
				@include translateXY(0, 160px * $scale_sm);
			}*/

			.btn {
				padding-left:36px;
				padding-right:36px;
				@include translateX(0);
				background-color:rgba(255,255,255,0.75);
				&:hover{
					background-color:#000;
				}
			}
		}
	}

	.el3 {
		position:absolute;
		top:0px;
		right:0;
		width:713px;
		height:auto;
		@include translateXY(0px,50px);
		
		.init {
			@include translateX(-50%);
			@include opacity(0);

			&.started {
				@include translateX(0);
				@include opacity(1);
			}
		}

		img {
			width:100%;

			&.shifted {
				@include translateX(50%);
				@include opacity(0);
			}
		}

		@media #{$xlg-only} {
			width:550px;
			@include translateXY(0px,40px);
		}

		@media #{$lg-only} {
			width:400px;
			@include translateXY(0px,30px);
		}

		@media #{$md-only} {
			width:480px;
			@include translateXY(0px,40px);
		}

		@media #{$sm-only} {
			width:240px;
			@include translateXY(0px,12px);
		}
	}

	.el4 {
		position:absolute;
		top:0px;
		right:0;
		width:713px;
		height:auto;
		@include translateXY(0px,215px);
		
		.init {
			@include translateX(50%);
			@include opacity(0);

			&.started {
				@include translateX(0);
				@include opacity(1);
			}
		}

		img {
			width:100%;

			&.shifted {
				@include translateX(-50%);
				@include opacity(0);
			}
		}

		@media #{$xlg-only} {
			width:550px;
			@include translateXY(0px,160px);
		}

		@media #{$lg-only} {
			width:400px;
			@include translateXY(0px,120px);
		}

		@media #{$md-only} {
			width:480px;
			@include translateXY(0px,148px);
		}

		@media #{$sm-only} {
			width:240px;
			@include translateXY(0px,66px);
		}
	}
}
