#default,.home_default{
	padding-top:30px;
	padding-bottom:70px;

	@media only screen and (max-width: 1460px) and (min-width: 1151px){
		max-width:1080px;
	}
	@media only screen and (max-width: 1150px) and (min-width: 961px){
		max-width: 862px;
	}
	@media only screen and (max-width: 960px) and (min-width: 701px){
		max-width: 750px;
	}
	@media only screen and (max-width: 700px) and (min-width: 0){
		max-width: 375px;
	}

	.zoom-photo {
		float:right;
		width:1218px;
		height:720px;
		overflow:hidden;
		position:relative;

		.init-slow {
			position:absolute;
			left:0; top:0;
			@include wh(100%);
			@include scale(1.2);

			&.started {
				@include scale(1);
			}
		}

		img {
			position:absolute;
			left:50%; top:50%;
			width:100%; height:auto;
			@include translateXY(-50%,-50%);
		}

		@media #{$xlg-only} {
			width:1218px * $scale_xlg;
			height:720px * $scale_xlg;
		}

		@media #{$lg-only} {
			width:1218px * $scale_lg;
			height:720px * $scale_lg;
		}

		@media #{$md-only} {
			width:571px; height:571px;
			img {
				top:0;
				@include translateXY(-50%,0);
				width:auto;
				height:100%;
			}
		}

		@media #{$sm-only} {
			width:571px * $scale_sm; height:571px * $scale_sm;
			img {
				top:0;
				@include translateXY(-50%,0);
				width:auto;
				height:100%;
			}
		}
	}

	.el1 {
		position:absolute;
		font-weight:bold;
		@include font-size(77,77);
		text-transform: lowercase;
		color:$black;
		left:0px;
		right:auto;
		top:-40px;

		@media #{$sm-md-only} {
			@include font-size(60,60);
		}

		@media #{$sm-only} {
			top:-20px;
		}

		.init {
			@include translateX(20%);
			@include opacity(0);

			&.started {
				@include translateX(0);
				@include opacity(1);
			}
		}
	}

	#el_head_text {
		position:absolute;
		left:0; bottom:0;
		//@include translateY(-25px);

		// &.shifted {
		// 	@include translateY(-50px);
		// 	@include opacity(0);
		// }
	}

	.el2 {
		position:absolute;
		left:0; bottom:0;
		background-color:$shade2;
		width:485px;
		padding:45px;
		@include border-box();
		@include translateY(125px);

		p {
			text-align:left;
			@include font-size(24,32);
			margin-top:$rs32;
			font-weight:$font-weight-semibold;

			&:first-child {
				margin-top:0;
			}
		}

		@media #{$xlg-only} {
			width:485px * $scale_xlg;
			padding:(45px * $scale_xlg);
			@include translateY(round(125px * $scale_xlg));
		}

		@media #{$lg-only} {
			width:485px * $scale_lg;
			padding:(45px * $scale_lg);
			@include translateY(round(125px * $scale_lg));
		}

		@media #{$sm-md-only} {
			p {
				@include font-size(20,24);
				margin-top:$rs24;
			}
		}

		@media #{$md-only} {
			width:345px;
			padding:45px 20px;
			@include translateY(110px);
		}

		@media #{$sm-only} {
			width:345px * $scale_sm;
			padding:45px * $scale_sm 20px * $scale_sm;
			@include translateY(110px * $scale_sm);
		}
	}
	
	.btn-group {
		position:absolute;
		left:50%; bottom:0;
		@include translateXY(-50%,125px);

		&.shifted {
			@include translateXY(-50%, 155px);
			@include opacity(0);
		}

		.init {
			@include translateX(50px);
			@include opacity(0);

			&.started {
				@include translateX(0px);
				@include opacity(1);
			}
		}

		.btn {
			@include translateX(31px);
		}

		@media #{$xlg-only} {
			@include translateXY(-50%,(125px * $scale_xlg));

			&.shifted {
				@include translateXY(-50%, 155px * $scale_xlg);
			}
		}

		@media #{$lg-only} {
			@include translateXY(-50%,(125px * $scale_lg));

			&.shifted {
				@include translateXY(-50%, 155px * $scale_lg);
			}
		}

		@media #{$md-only} {
			left:auto;
			right:0;
			@include translateXY(0,110px);

			&.shifted {
				@include translateXY(0, 160px);
			}

			.btn {
				@include translateX(0);
			}
		}

		@media #{$sm-only} {
			left:auto;
			right:0;
			@include translateXY(0,110px * $scale_sm);

			&.shifted {
				@include translateXY(0, 160px * $scale_sm);
			}

			.btn {
				@include translateX(0);
			}
		}
	}

	.el3 {
		position:absolute;
		top:0; right:0;
		width:713px; height:188px;
		@include translateXY(80px,-20px);
		
		.init {
			@include translateX(-50%);
			@include opacity(0);

			&.started {
				@include translateX(0);
				@include opacity(1);
			}
		}

		img {
			width:100%;

			&.shifted {
				@include translateX(50%);
				@include opacity(0);
			}
		}

		@media #{$xlg-only} {
			width:713px * $scale_xlg; height:188px * $scale_xlg;
			@include translateXY(80px * $scale_xlg,-20px);
		}

		@media #{$lg-only} {
			width:713px * $scale_lg; height:188px * $scale_lg;
			@include translateXY(80px * $scale_lg,-20px);
		}

		@media #{$md-only} {
			width:411px; height:188px * (411/713);
			@include translateXY(40px,45px);
		}

		@media #{$sm-only} {
			width:411px * $scale_sm; height:188px * $scale_sm * (411/713);
			@include translateXY(40px * $scale_sm,45px * $scale_sm);
		}
	}

	.el4 {
		position:absolute;
		top:188px; right:0;
		width:277px; height:182px;
		@include translateXY(80px,0);
		
		.init {
			@include translateX(50%);
			@include opacity(0);

			&.started {
				@include translateX(0);
				@include opacity(1);
			}
		}

		img {
			width:100%;

			&.shifted {
				@include translateX(-50%);
				@include opacity(0);
			}
		}

		@media #{$xlg-only} {
			top:188px * $scale_xlg;
			width:277px * $scale_xlg; height:182px * $scale_xlg;
			@include translateXY(80px * $scale_xlg,0);
		}

		@media #{$lg-only} {
			top:188px * $scale_lg;
			width:277px * $scale_lg; height:182px * $scale_lg;
			@include translateXY(80px * $scale_lg,0);
		}

		@media #{$md-only} {
			top:(188px * (411/713)) + 45px;
			width:161px; height:182px * (161/277);
			@include translateXY(40px,10px);
		}

		@media #{$sm-only} {
			top:(188px * $scale_sm * (411/713)) + 45px;
			width:161px * $scale_sm; height:182px * $scale_sm * (161/277);
			@include translateXY(40px * $scale_sm,10px * $scale_sm);
		}
	}
}
