.block-range {
	float:left;
	width:33.3%;
	text-align:center;
	padding-bottom:100px;

	@media #{$xlg-only} {
		padding-bottom:100px * $scale_xlg;
	}

	@media #{$lg-only} {
		padding-bottom:100px * $scale_lg;
	}

	@media #{$md-only} {
		width:100%;
		padding-bottom:100px;
	}

	@media #{$sm-only} {
		width:100%;
		padding-bottom:100px * $scale_sm;
	}

	.frame {
		display:inline-block;
		width:460px;
		height:460px;
		/* background-color:#d20000; */
		position:relative;

		@media #{$xlg-only} {
			width:460px * $scale_xlg;
			height:460px * $scale_xlg;
		}

		@media #{$lg-only} {
			width:460px * $scale_xlg;
			height:460px * $scale_xlg;
		}

		@media #{$md-only} {
			
		}

		@media #{$sm-only} {
			width:460px * $scale_sm;
			height:460px * $scale_sm;
		}

		.img {
			width:100%; height:100%;
			overflow:hidden;
			position:relative;

			img {
				position:absolute;
				top:0; right:0;
				height:100%;

				&.left {
					right:auto;
					left:0;
				}
			}
		}

		.text {
			position:absolute;
			top:0; bottom:0;
			@include writeResponsive(width,300px,280px);

			&.left {
				@include writeResponsive(left,-66px,-43px);

				h2,
				p,
				.btn {
					@include translateX(-50px);
					@include opacity(0);

					&.shifted {
						@include translateX(90px);
						@include opacity(1);
					}
				}
			}

			&.right {
				left:100%;
				@include translateX(-145px);

				h2,
				p,
				.btn {
					@include translateX(50px);
					@include opacity(0);

					&.shifted {
						@include translateX(-90px);
						@include opacity(1);
					}
				}
			}

			@media #{$xlg-only} {

				&.right {
					@include translateX(-145px * $scale_xlg);
				}
			}

			@media #{$lg-only} {

				&.right {
					@include translateX(-145px * $scale_xlg);
				}
			}

			@media #{$md-only} {
				top:40px;

				&.right {
					@include translateX(-170px);
				}
			}

			@media #{$sm-only} {
				top:40px * $scale_sm;

				&.right {
					@include translateX(-170px * $scale_sm);
				}
			}
			

			h2 {
				font-family: $font-family-gotham;
				@include float-both();
				text-align:left;
			}

			p {
				@include float-both();
				text-align:left;
				@include writeResponsive(margin-top,30px,15px);
			}

			&.top {
				a.btn {
					@include float-both();
					@include writeResponsive(margin-top,50px,45px);
				}
			}

			&.top20 {
				a.btn {
					@include float-both();
					@include writeResponsive(margin-top,20px,45px);
				}
			}


			&.bottom {
				a.btn {
					position:absolute;
					left:0;
					@include writeResponsive(bottom,30px,30px);
				}
			}
		}
		
	}
}
