/* home_range_femfresh_solutions */
.container[data-ref="home-femfresh-solutions"]{
	width:100%;
	max-width: 862px;
	margin:0 auto;
	padding-top:0;
	padding-bottom:100px;
	header{
		text-align:left;
		height:auto;
		width:100%;
		
		padding:0 10px;
		box-sizing:border-box;
		h2{
			margin-bottom:1rem;
		}
		p{
			margin-bottom:1rem;
			font-size:1.7rem;
			line-height:1.9rem;
		}
	}
	.row{
		width:100%;
		max-width: 862px;
		margin:0 -10px;
		display:flex;
		justify-content:center;
		flex-wrap:nowrap;

			article{
				flex-basis:50%;
				padding:0 10px;
				
				.videoBox{
					background-color:#7f7f7f;
					padding-top:100%;
					position:relative;
					z-index:1;

					figure{
						position:absolute;
						z-index:2;
						left:0px;
						top:0px;
						width:100%;
						height:100%;
						img{
							object-fit:cover;
							width:100%;
							height:100%;
						}
					}
					span{
						position:absolute;
						z-index:10;
						left:0px;
						top:0px;
						width:100%;
						height:100%;
						overflow:hidden;
						text-indent:-9999em;
						cursor:pointer;
						background-image:url('/images/icons/videoplay.png');
						background-repeat:no-repeat;
						background-position:50% 50%;
						background-size:20%;
						display:block;
					}
				}
				a.btn{
					display:inline-block;
					width:auto;
					margin:1rem 0px 0 auto;
					float:right;
				}
			}
	}

	/*
	@media only screen and (min-width: 961px) and (max-width: 1150px){
		&{
			header{
				max-width: 862px;
			}
			.row{
				max-width: 862px;
			}
		}
	}

	@media only screen and (min-width: 1151px) and (max-width: 1460px){
		&{
			header{
				max-width:1080px;
			}
			.row{
				max-width:1080px;
			}
		}
	}
	@media only screen and (min-width: 1461px){
		&{
			header{
				max-width:1080px;
			}
			.row{
				max-width:1080px;
			}
		}
	}
	*/
}
