#page {
	float:left;
	display:block;
	width:100%;
}

#head-group {
	position:absolute;
	width:100%; height:0;
	z-index:1000;
}

body[data-disclaimer="true"] {
	#page {
		padding-top:60px;

		@media #{$xlg-only} {
			padding-top:80px;
		}

		@media #{$lg-only} {
			padding-top:80px;
		}

		@media #{$md-only} {
			padding-top:70px;
		}

		@media #{$sm-only} {
			padding-top:80px;
		}
	}
}


.outer-fix {
	display:inline-block;
	width:100%;
	max-width:1440px;
	position:relative;

	@media #{$xlg-only} {
		max-width:1080px;
	}

	@media #{$lg-only} {
		max-width:862px;
	}

	@media #{$md-only} {
		max-width:750px;
	}

	@media #{$sm-only} {
		max-width:750px * $scale_sm;
	}
}

.inner-fix {
	display:inline-block;
	width:100%;
	position:relative;

	@include writeResponsive(max-width,1280px,610px);
}

.container {
	width:100%;
	overflow:hidden;
	text-align:center;
	position:relative;

	@include writeResponsive(padding-top,100px,78px);

	.anchor {
		position:absolute;
		left:0;
		@include writeResponsive(top,-100px,-78px);
	}

	&.first {
		@include writeResponsive(margin-top,110px,128px);
	}


}

.bgw {background-color:$white;}
.bg1 {background-color:$shade1;}
.bg2 {background-color:$shade2;}
.bg3 {background-color:$shade3;}
.bg4 {background-color:$shade4;}
.bg5 {background-color:$shade5;}
.bg6 {background-color:$shade6;}
.bg7 {background-color:$shade7;}
.bg8 {background-color:$shade8;}
.bg9 {background-color:$shade9;}
.bg10 {background-color:$shade10;}
.bg11 {background-color:$shade11;}
.bg12 {background-color:$shade12;}
.bg13 {background-color:$shade13;}
.bg14 {background-color:$shade14;}
.bg15 {background-color:$shade15;}
.bg16 {background-color:$shade16;}
.bg17 {background-color:$shade17;}
.bg18 {background-color:$shade18;}
.bg19 {background-color:$shade19;}
.bg20 {background-color:$shade20;}
.bg21 {background-color:$shade21;}
.bg22 {background-color:$shade22;}
.bg23 {background-color:$shade23;}
.bg24 {background-color:$shade24;}
.bg25 {background-color:$blogbg;}

p, h1, h2, h3, h4, h5, li, a {
	&.col1 {color:$shade1;}
	&.col2 {color:$shade2;}
	&.col3 {color:$shade3;}
	&.col4 {color:$shade4;}
	&.col5 {color:$shade5;}
	&.col6 {color:$shade6;}
	&.col7 {color:$shade7;}
	&.col8 {color:$shade8;}
	&.col9 {color:$shade9;}
	&.col10 {color:$shade10;}
	&.col11 {color:$shade11;}
	&.col12 {color:$shade12;}
	&.col13 {color:$shade13;}
	&.col14 {color:$shade14;}
	&.col15 {color:$shade15;}
	&.col16 {color:$shade16;}
	&.col17 {color:$shade17;}
	&.col18 {color:$shade18;}
	&.col19 {color:$shade19;}
	&.col20 {color:$shade20;}
	&.col21 {color:$shade21;}
	&.col22 {color:$shade22;}
	&.col23 {color:$shade23;}
}

.force-color-col1 {color:$shade1 !important;}

.btn {
	display:block;
	@include font-size(24,24);
	border:2px $black solid;
	text-decoration: none;
	padding:15px;
	font-weight:$font-weight-semibold;
	@include transition-this(all,0.2s);
	text-transform:uppercase;

	&:hover {
		background-color:$black;
		color:$white;
	}

	@media #{$md-only} {
		@include font-size(20,20);
	}

	@media #{$sm-only} {
		@include font-size(20,20);
	}

	@media #{$md-only} {
		padding:15px;
	}

	@media #{$sm-only} {
		padding:14px 10px;
		border:1px $black solid;
	}
}

h2, .h2 {
	@include font-size(77,77);
	font-weight: $font-weight-bold;

	@media #{$sm-md-only} {
		@include font-size(60,60);
	}
}

.h3 {
	@include font-size(36,36);
	font-weight: $font-weight-bold;

	@media #{$sm-md-only} {
		@include font-size(30,30);
	}
}

p, .p,
h5, .h5,
q, cite {
	@include font-size(22,24);

	@media #{$md-only} {
		@include font-size(22,24);
	}

	@media #{$sm-only} {
		@include font-size(22,24);
	}
}

.revert-top {
	position:fixed;
	left:0; bottom:40px;
	background-color:$black;
	@include wh(40px);
	cursor:pointer;
	@include transition-this();
	@include translateX(-100%);

	img {
		@include wh(100%);
	}
}

body.hasScrolled {
	.revert-top {
		//@include translateX(0);
	}
}

@import './pages/home';
@import './pages/our-range';
@import './pages/product';
@import './pages/about';
@import './pages/knowledge';
@import './pages/quiz';
@import './pages/dr-sara';
@import './pages/support';
@import './pages/faqs';
@import './pages/ph-balance';
@import './pages/policies';
@import './pages/videos';


@import './pages/components/dr-sara-ph-balance';
@import './pages/components/vulva-or-vagina';
@import './pages/components/she-talks';
@import './pages/components/instagram';
@import './pages/components/range';
@import './pages/components/ymal';
@import './pages/components/articles';
@import './pages/components/blogpost';
