.cookie-disclaimer {
	position:fixed;
	width:100vw;
	background-color:$black;
	color:$white;
	z-index:1010;
	text-align:center;
	padding:0;
	@include border-box();
	font-size:16px; 
	line-height:18px;
	@include transition-this();
	height:60px;
	overflow:hidden;
	orphans:3;
    widows:3;
    @include translateY(-100%);

    div.mid {
		position:absolute;
		left:30px; right:90px;
		top:50%;
		@include translateY(-50%);
	}

 	@media #{$xlg-only} {
		height:80px;
	}

	@media #{$lg-only} {
		font-size:15px; 
		line-height:18px;
		height:80px;
	}

	@media #{$md-only} {
		font-size:13px; 
		line-height:16px;
		height:70px;
	}

	@media #{$sm-only} {
		font-size:11px; 
		line-height:14px;
		height:80px;
	}

	a {
		color:$white;
		text-decoration:underline;
	}

	.btn-close {
		position:absolute;
		top:50%; right:40px;
		@include wh(15px);
		cursor:pointer;
		@include translateY();

		line {
			fill:none;
			stroke:$white;
			stroke-width:7;
			stroke-linecap:round;
			stroke-miterlimit:10;
		}
	}

}

body[data-disclaimer="true"] {
	.cookie-disclaimer {
		@include translateY(0);
	}
}