footer {
	@include writeResponsive(padding-bottom,70px,78px);

	.logo-block {
		float:left;
		width:35%;
		text-align:left;
		margin-top:90px;

		.logo {
			display:inline-block;
			width:201px;
			height: 111px;
			position:relative;

			p {
				position:absolute;
				left:50%; top:100%;
				width:100%;
				@include font-size(20,20);
			}
		}
	}

	.menu-block {
		float:left;
		width:65%;

		.social {
			float:left;
			width:100%;

			img {
				float:left;
				@include wh(72px);
				margin-right:20px;
			}
		}

		menu {
			float:left;
			width:100%;
			list-style:none;
			margin-top:50px;

			li {
				text-align:left;
				float:left;
				width:33%;
				@include font-size(20,20);
				margin-bottom:$rs32;
				
				a {
					text-decoration:none;
				}
			}
		}
	}

	@media #{$sm-md-only} {
		display: table;

		.logo-block {
			float:none;
			display: table-footer-group;
			width:100%;
			margin-top:0;
			text-align:center;

			.logo {
				p {
					left:0%; top:100%;
					padding-top:20px;
					text-align:center;
					@include font-size(18,20);
				}
			}

		}

		.menu-block {
			float:none;
			display: table-header-group;
			width:100%;

			.social {
				float:none;
				display:inline;
				text-align:center;
				
				img {
					float:none;
				}
			}

			menu {
				li {
					width:50%;
					text-align:center;
					@include font-size(22,24);
					height:$rs48;
					margin-bottom:$rs24;
				}
			}
		}
	}

	@media #{$sm-only} {
		.logo-block {
			.logo {
				width: 201px * $scale_sm;
				height: 111px * $scale_sm;
			}
		}

		.menu-block {
			.social {
				img {
					@include wh(40px);
					margin-right:20px * $scale_sm;
				}
			}

			menu {
				margin-top:50px * $scale_sm;
			}
		}
	}
}