@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

@mixin scale($amount) {
  -moz-transform: scale($amount);
  -webkit-transform: scale($amount);
  -o-transform: scale($amount);
  -ms-transform: scale($amount);
  transform: scale($amount);
}

/**
 * Foundation Mixins
 */
@mixin gpuAccelerate($property: all) {
  will-change: $property;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate(0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden; 
  -webkit-perspective: 1000;
} 

@mixin transition-this($type:all, $speed:0.3s, $ease:ease-in-out) {
  will-change: $type;
  -webkit-transition: $type $speed $ease;
  -moz-transition: $type $speed $ease;
  -ms-transition: $type $speed $ease;
  -o-transition: $type $speed $ease;
  transition: $type $speed $ease;
}

@mixin wh($size) {
  width:$size;
  height:$size;
}

@mixin border-radius($px:10px) {
  -webkit-border-radius: $px;
  border-radius: $px;
}

@mixin translateX($amount:-50%) {
  //will-change: transform;
  -moz-transform: translateX($amount);
  -webkit-transform: translateX($amount);
  -o-transform: translateX($amount);
  -ms-transform: translateX($amount);
  transform: translateX($amount);
}

@mixin translate3D($x,$y,$z) {
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform: translate3d($x,$y,$z);
  -o-transform: translate3d($x,$y,$z);
  -ms-transform: translate3d($x,$y,$z);
  -ms-transform: translate($x,$y); /* IE 9 */
  transform: translate3d($x,$y,$z);
}

@mixin translateY($amount:-50%) {
  //will-change: transform;
  -moz-transform: translateY($amount);
  -webkit-transform: translateY($amount);
  -o-transform: translateY($amount);
  -ms-transform: translateY($amount);
  transform: translateY($amount);
}

@mixin translateXY($amountX:-50%, $amountY:-50%, $changes:true) {
  @if ($changes) {will-change: transform;}
  -moz-transform: translateX($amountX) translateY($amountY);
  -webkit-transform: translateX($amountX) translateY($amountY);
  -o-transform: translateX($amountX) translateY($amountY);
  -ms-transform: translateX($amountX) translateY($amountY);
  transform: translateX($amountX) translateY($amountY);
}

@mixin translateXYR($amountX:-50%, $amountY:-50%, $amountR:0deg, $changes:true) {
  @if ($changes) {will-change: transform;}
  -moz-transform: translateX($amountX) translateY($amountY) rotate($amountR);
  -webkit-transform: translateX($amountX) translateY($amountY) rotate($amountR);
  -o-transform: translateX($amountX) translateY($amountY) rotate($amountR);
  -ms-transform: translateX($amountX) translateY($amountY) rotate($amountR);
  transform: translateX($amountX) translateY($amountY) rotate($amountR);
}

@mixin translateXYS($amountX:-50%, $amountY:-50%, $amountS:1.2, $changes:true) {
  @if ($changes) {will-change: transform;}
  -moz-transform: scale($amountS) translateX($amountX) translateY($amountY);
  -webkit-transform: scale($amountS) translateX($amountX) translateY($amountY);
  -o-transform: scale($amountS) translateX($amountX) translateY($amountY);
  -ms-transform: scale($amountS) translateX($amountX) translateY($amountY);
  transform: scale($amountS) translateX($amountX) translateY($amountY);
}

@mixin opacity($float, $important:'false') {
  $int: $float * 100;

  @if($important == 'important') {
    -ms-filter:   "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)"!important;
    filter:     alpha(opacity=($float * 100))!important;
    -moz-opacity: $float!important;
    -khtml-opacity: $float!important;
    opacity:    $float!important;
  } @else {
    -ms-filter:   "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
    filter:     alpha(opacity=($float * 100));
    -moz-opacity: $float;
    -khtml-opacity: $float;
    opacity:    $float;
  }
}

@mixin gradient($deg, $col1, $col2) {
  background: $col1; /* Old browsers */
  background: -moz-linear-gradient($deg, $col1 0%, $col2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient($deg, $col1 0%,$col2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient($deg, $col1 0%,$col2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin hor_gradient($col1, $col2) {
  /* Permalink - use to e dit and share this gradient: http://colorzilla.com/gradient-editor/#{$col1}+0,#{$col2}+100 */
  background: #{$col1}; /* Old browsers */
  background: -moz-linear-gradient(left, #{$col1} 0%, #{$col2} 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #{$col1} 0%,#{$col2} 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #{$col1} 0%,#{$col2} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$col1}', endColorstr='#{$col2}',GradientType=1 ); /* IE6-9 */
}

@mixin ver_gradient($col1,$col2) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#{$col1}+0,#{$col2}+100 */
  background: #{$col1}; /* Old browsers */
  background: -moz-linear-gradient(top, #{$col1} 0%, #{$col2} 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #{$col1} 0%, #{$col2} 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #{$col1} 0%, #{$col2} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$col1}', endColorstr='#{$col2}',GradientType=0 ); /* IE6-9 */
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

@mixin font-size($fontSize:16, $lineHeight:$fontSize, $important:'false') {
  @if($important == 'important') {
    font-size: $fontSize + px !important;
    font-size: ($fontSize / $base-font-size) + rem  !important;

    line-height: $lineHeight + px  !important;
    line-height: ($lineHeight / $base-font-size) + rem  !important;
  }@else{
    font-size: $fontSize + px;
    font-size: ($fontSize / $base-font-size) + rem;

    line-height: $lineHeight + px ;
    line-height: ($lineHeight / $base-font-size) + rem;
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin clear-spacing() {
  left: initial;
  right: initial;
  top: initial;
  bottom: initial;
  margin: 0;
  padding: 0;
}

@mixin float-both() {
  float: left;
  clear: both;
}

@mixin noSelect() { 
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@mixin writeResponsive($style,$desktop,$mobile, $style2:null,$desktop2:null,$mobile2:null) {
  @if ($desktop != null) {
    #{$style}: $desktop;
  
    @media #{$xlg-only} {
      #{$style}: $desktop * $scale_xlg;
    }

    @media #{$lg-only} {
      #{$style}: $desktop * $scale_lg;
    }
  }

  @if ($mobile != null) {
    @media #{$md-only} {
      #{$style}: $mobile * $scale_md;
    }

    @media #{$sm-only} {
      #{$style}: $mobile * $scale_sm;
    }
  }

  @if($style2 != null) {
    #{$style2}: $desktop2;

    @media #{$xlg-only} {
      #{$style2}: $desktop2 * $scale_xlg;
    }

    @media #{$lg-only} {
      #{$style2}: $desktop2 * $scale_lg;
    }

    @media #{$md-only} {
      #{$style2}: $mobile2 * $scale_md;
    }

    @media #{$sm-only} {
      #{$style2}: $mobile2 * $scale_sm;
    }
  }
/*
  */
}