.page-top {
	position:fixed;
	left:0; top:0;
	width:100%;
	height:110px;
	text-align:center;
	background-color:$white;
	z-index:8888;

	@media #{$xlg-only} {
		height:110px * 0.75;
	}

	@media #{$lg-only} {
		height:110px * 0.6;
	}

	@media #{$md-only} {
		height:128px;
	}

	@media #{$sm-only} {
		height:128px * $scale_sm;
	}

	.outer-fix {
		height:100%;

		.logo {
			position:absolute;
			left:160px;
			top:20px;
			width:284px;
			height:157px;
			z-index:1000;
			background-color:#fff;
			padding:0 1rem;

			@media #{$xlg-only} {
				left:160px * 0.75;
				top:20px * 0.75;
				width:284px * 0.75;
				height:157px * 0.75;
			}

			@media #{$lg-only} {
				left:160px * 0.6;
				top:20px * 0.6;
				width:284px * 0.6;
				height:157px * 0.6;
			}

			@media #{$md-only} {
				left:25px;
				top:20px;
				width:250px;
				height:138px;
			}

			@media #{$sm-only} {
				left:25px * $scale_sm;
				top:20px * $scale_sm;
				width:250px * $scale_sm;
				height:138px * $scale_sm;
			}
		}

		menu {
			position:absolute;
			left:600px;
			right:160px;
			top:50%;
			@include translateY(-50%);
			width:100%;

			li {
				float:left;
				padding:0 2rem 0 0;
				display:inline-block;
				@include font-size(21,24);
				font-weight:bold;

				a {
					text-decoration: none;
					font-size:80%;

					&.no-expand {
						&:hover {
							text-decoration: underline;
						}
					}

					&.active {
						text-decoration: underline;
					}
				}
			}

			@media #{$xlg-only} {
				left:600px * 0.75;
				right:160px * 0.75;
			}

			@media #{$lg-only} {
				left:600px * 0.6;
				right:160px * 0.6;
			}

			@media #{$sm-md-only} {
				display:none;
			}
		}



		#hamburger {
			display:none;
			position:absolute;
			width:38px; height:29px;
			right:27px; top:50%;
			@include translateY();
			cursor:pointer;

			@media #{$sm-md-only} {
				display:block;
			}

			@media #{$sm-only} {
				right:27px * $scale_sm;
				width:38px * $scale_sm; height:29px * $scale_sm;
			}
		}

		#mobile-menu-close {
			display:none;
			position:absolute;
			width:140px; height:44px;
			right:27px; top:50%;
			@include translateY();
			cursor:pointer;

			@media #{$sm-only} {
				right:27px * $scale_sm;
				width:140px * $scale_sm; height:44px * $scale_sm;
			}
		}
	}
}

body[data-disclaimer="true"] {
	.page-top {
		top:60px;

		@media #{$xlg-only} {
			top:80px;
		}

		@media #{$lg-only} {
			top:80px;
		}

		@media #{$md-only} {
			top:70px;
		}

		@media #{$sm-only} {
			top:80px;
		}
	}

	.submenu {
		top:110px + 60px;

		@media #{$xlg-only} {
			top:(110px * 0.75) + 80px;
		}

		@media #{$lg-only} {
			top:(110px * 0.6) + 80px;
		}
	}

	.mobile-menu {
		top:128px + 70px;

		@media #{$sm-only} {
			top:(128px * $scale_sm) + 80px;
		}
	}
}

.mobile-menu {
	display:none;
	position:absolute;
	top:128px; bottom:0;
	width:100%;
	z-index:8887;
	text-align:center;

	@media #{$sm-only} {
		top:128px * $scale_sm;
	}

	.outer-fix {
		min-height:320px;

		menu.lev1 {
			list-style:none;
			padding:2rem;

			li.expander {
				a {
					span {
						position:absolute;
						right:0; top:5px;
						@include wh(27px);
						background-size:cover;
						cursor:pointer;

						@media #{$sm-only} {
							@include wh(27px * $scale_sm);
						}
					}
				}

				> a.lev1 span {
					background:transparent url($image_path + "plus.svg") no-repeat center center;
				}

				> a.lev2 span {
					background:transparent url($image_path + "plus-narrow.svg") no-repeat center center;
				}
			}

			> li {
				padding:2rem 1rem;
				border-bottom:1px #9d9d9d solid;
				position:relative;

				a.lev1 {
					display:block;
					width:100%;
					padding-right:$rs36;
					@include font-size(36,36);
					text-decoration:none;
					text-align:left;
					font-weight:$font-weight-bold;
					position:relative;
					@include border-box();
				}

				menu.lev2 {
					list-style:none;
					height:auto;
					overflow:hidden;
					max-height:0;
					@include transition-this();

					> li {
						padding:2rem 1rem;

						a.lev2 {
							display:block;
							width:100%;
							padding-right:$rs36;
							@include font-size(36,36);
							text-decoration:none;
							text-align:left;
							font-weight:$font-weight-semibold;
							position:relative;
							@include border-box();
						}

						menu.lev3 {
							list-style:none;
							//padding-top:2rem;
							height:auto;
							overflow:hidden;
							max-height:0;
							@include transition-this();

							> li {
								padding:2rem 1rem;

								a {
									display:block;
									width:100%;
									padding-right:$rs36;
									@include font-size(36,36);
									text-decoration:none;
									text-align:left;
									font-weight:$font-weight-normal;
									position:relative;
									@include border-box();
									color:#8c8c8c;
								}
							}
						}
					}
				}
			}
		}
	}

	&[data-lev2="range"] {
		.outer-fix menu.lev1>li menu.lev2[data-submenu="range"] {
			padding-top:2rem;
			max-height:1200px;
		}


		&[data-lev3="washes"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="washes"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="wipes"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="wipes"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="sprays"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="sprays"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="shaving"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="shaving"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="solutions"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="solutions"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="powder"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="powder"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}
	}

	&[data-lev2="knowledge"] {
		.outer-fix menu.lev1>li menu.lev2[data-submenu="knowledge"] {
			padding-top:2rem;
			max-height:1200px;
		}

		&[data-lev3="expert-advice"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="expert-advice"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="she-talks"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="she-talks"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}

		&[data-lev3="articles"] {
			.outer-fix menu.lev1>li menu.lev2>li menu.lev3[data-tertiary-menu="articles"] {
				padding-top:2rem;
				max-height:1000px;
			}
		}
	}
}

.submenu {
	position:fixed;
	top:110px;
	width:100%;
	//background-color:rgba($white,0.8);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.8+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */

	z-index:50;
	text-align:center;
	@include translateY(-100%);

	@media #{$sm-md-only} {
		display:none!important;
	}

	@media #{$xlg-only} {
		top:110px * 0.75;
	}

	@media #{$lg-only} {
		top:110px * 0.6;
	}

	&[data-submenu="range"] {
		menu {
			li {
				&:first-child {
					border-bottom:1px solid #000;
				}
			}
		}
		height:370px;

		@media #{$xlg-only} {
			// height:330px * 0.75;
		}

		@media #{$lg-only} {
			// height:330px * 0.6;
		}
	}

	&[data-submenu="knowledge-hub"] {
		height:450px;

		.outer-fix {
			.menu-group {
				.col {
					margin-left:50%;
					width:50%;
					menu {
						li {
							a{
								padding:0;
							}
						}
					}
				}
			}
		}

		@media #{$xlg-only} {
			height:450px * 0.75;
		}

		@media #{$lg-only} {
			height:450px * 0.6;
		}
	}

	.outer-fix {
		.menu-group {
			position:absolute;
			left:600px;
			right:0;
			text-align:left;
			@include translateY(-15px);

			@media #{$xlg-only} {
				left:600px * 0.75;
				@include translateY(-15px * 0.75);
			}

			@media #{$lg-only} {
				left:600px * 0.6;
				@include translateY(-15px * 0.6);
			}

			.col {
				float:left;
				width:20%;
				
				@include border-box();

				menu {
					list-style:none;

					li {
						&.wide {
							width:150%;
						}

						&:first-child {
							font-weight:$font-weight-semibold;
							padding-top:0;
							height:auto;

							a {
								padding-top:0;

								// &:hover {
								// 	font-weight:$font-weight-semibold;
								// }
							}
						}

						a {
							display:block;
							padding:1rem 2rem 1rem 0;
							height:2rem;

							text-decoration:none;

							&:hover {
								font-weight:bold;
							}
						}


						&.wider {
							height:2rem;
							position:relative;
							padding:1rem 2rem 1rem 0;

							a {
								position:absolute;
								left:0; top:0;
								width:150%; height:2rem;
								

							}
						}
					}

					
				}
			}
		}
	}
}

#head-group {
	&[data-show-submenu="range"] {
		.page-top {
			menu {
				li {
					a[data-submenu="range"] {
						text-decoration:underline;
					}
				}
			}
		}

		.submenu[data-submenu="range"] {
			@include translateY(0);
		}
	}

	&[data-show-submenu="knowledge-hub"] {
		.page-top {
			menu {
				li {
					a[data-submenu="knowledge-hub"] {
						text-decoration:underline;
					}
				}
			}
		}

		.submenu[data-submenu="knowledge-hub"] {
			@include translateY(0);
		}
	}
}