// 12 column grid with spacing
.row {
	@include float-both();
	width:(100% - $grid-sides);
	margin: 0 ($grid-sides / 2);

	.columns {
		position:relative;
		float:left;
		margin-left:($col-spacing / 2);
		margin-right:($col-spacing / 2);
		margin-bottom:1em;

		width:(($col-width * 12) - $col-spacing);

		//&.before-0 {margin-left:($col-spacing / 2);}
		//&.after-0 {margin-right:($col-spacing / 2);}

		//@for $i from 1 through $col_count {
		//	&.span-#{$i} {width:(($col-width * $i) - $col-spacing);}
		//	&.before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
		//	&.after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
		//}

		@media #{$xxlg-only} {
			&.xxlg-before-0 {margin-left:($col-spacing / 2);}
			&.xxlg-after-0 {margin-right:($col-spacing / 2);}
			&.xxlg-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.xxlg-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.xxlg-before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
				&.xxlg-after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
			}
		}

		@media #{$xlg-only} {
			&.xlg-before-0 {margin-left:($col-spacing / 2);}
			&.xlg-after-0 {margin-right:($col-spacing / 2);}
			&.xlg-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.xlg-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.xlg-before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
				&.xlg-after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
			}
		}

		@media #{$lg-only} {
			&.lg-before-0 {margin-left:($col-spacing / 2);}
			&.lg-after-0 {margin-right:($col-spacing / 2);}
			&.lg-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.lg-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.lg-before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
				&.lg-after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
			}
		}

		@media #{$lg-up} {
			&.lg-up-before-0 {margin-left:($col-spacing / 2);}
			&.lg-up-after-0 {margin-right:($col-spacing / 2);}
			&.lg-up-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.lg-up-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.lg-up-before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
				&.lg-up-after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
			}
		}

		@media #{$md-only} {
			&.md-before-0 {margin-left:($col-spacing / 2);}
			&.md-after-0 {margin-right:($col-spacing / 2);}
			&.md-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.md-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.md-before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
				&.md-after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
			}
		}

		@media #{$md-up} {
			&.md-up-before-0 {margin-left:($col-spacing / 2);}
			&.md-up-after-0 {margin-right:($col-spacing / 2);}
			&.md-up-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.md-up-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.md-up-before-#{$i} {margin-left:(($col-width * $i) + ($col-spacing / 2));}
				&.md-up-after-#{$i} {margin-right:(($col-width * $i) + ($col-spacing / 2));}
			}
		}

		@media #{$sm-only} {
			&.sm-before-0 {margin-left:($col-spacing / 2);}
			&.sm-after-0 {margin-right:($col-spacing / 2);}

			@for $i from 1 through $col_count {
				&.sm-#{$i} {width:(($col-width * $i) - $col-spacing);}
				&.sm-before-#{$i} {margin-left:($col-width * $i);}
				&.sm-after-#{$i} {margin-right:($col-width * $i);}
			}
		}
	}

	// Reinstate the side spacing
	&.padded {
		width:(100% - $grid-sides)!important;
		margin: 0 ($grid-sides / 2)!important;
	}

	&.nopad {
		width:(100% + $col-spacing);
		margin: 0;
		margin-left: -($col-spacing / 2);
	}

	// Full width grid.
	&.full {
		width:100%;
		margin: 0;

		>.columns {
			margin:0;
			width:($col-width * 12);
			//@for $i from 1 through $col_count {
			//	&.span-#{$i} {width:($col-width * $i);}
			//	&.before-#{$i} {margin-left:($col-width * $i);}
			//	&.after-#{$i} {margin-right:($col-width * $i);}
			//}

			@media #{$sm-only} {
				&.sm-before-0 {margin-left:0;}
				&.sm-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sm-#{$i} {width:($col-width * $i);}
					&.sm-before-#{$i} {margin-left:($col-width * $i);}
					&.sm-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$sm-up} {
				&.sm-up-before-0 {margin-left:0;}
				&.sm-up-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sm-up-#{$i} {width:($col-width * $i);}
					&.sm-up-before-#{$i} {margin-left:($col-width * $i);}
					&.sm-up-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$md-only} {
				&.md-before-0 {margin-left:0;}
				&.md-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.md-#{$i} {width:($col-width * $i);}
					&.md-before-#{$i} {margin-left:($col-width * $i);}
					&.md-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$md-up} {
				&.md-up-before-0 {margin-left:0;}
				&.md-up-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.md-up-#{$i} {width:($col-width * $i);}
					&.md-up-before-#{$i} {margin-left:($col-width * $i);}
					&.md-up-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$lg-only} {
				&.lg-before-0 {margin-left:0;}
				&.lg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.lg-#{$i} {width:($col-width * $i);}
					&.lg-before-#{$i} {margin-left:($col-width * $i);}
					&.lg-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$lg-up} {
				&.lg-up-before-0 {margin-left:0;}
				&.lg-up-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.lg-up-#{$i} {width:($col-width * $i);}
					&.lg-up-before-#{$i} {margin-left:($col-width * $i);}
					&.lg-up-after-#{$i} {margin-right:($col-width * $i);}
				}
			}


			@media #{$xlg-only} {
				&.xlg-before-0 {margin-left:0;}
				&.xlg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xlg-#{$i} {width:($col-width * $i);}
					&.xlg-before-#{$i} {margin-left:($col-width * $i);}
					&.xlg-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$xlg-up} {
				&.xlg-up-before-0 {margin-left:0;}
				&.xlg-up-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xlg-up-#{$i} {width:($col-width * $i);}
					&.xlg-up-before-#{$i} {margin-left:($col-width * $i);}
					&.xlg-up-after-#{$i} {margin-right:($col-width * $i);}
				}
			}

			@media #{$xxlg-only} {
				&.xxlg-before-0 {margin-left:0;}
				&.xxlg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xxlg-#{$i} {width:($col-width * $i);}
					&.xxlg-before-#{$i} {margin-left:($col-width * $i);}
					&.xxlg-after-#{$i} {margin-right:($col-width * $i);}
				}
			}
		}
	}
}
