$version	 : random(300);

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;
$blogbg		 : #fae8e6;

$grey1		 : #a6a6a6;
$red		 : #d52f21;

$shade1		 : #fff3f6; // A light pink
$shade2		 : #ff89a5; // A deeper pink
$shade3		 : #e7f2d5; // A mint green, used on dr-sara
$shade4		 : #f7efd2; // A corn yellow
$shade5		 : #4a7c4b; // A deeper green
$shade6		 : #f2e4b3; // A deeper corn yellow
$shade7		 : #a289b5; // Lilac
$shade8		 : #fcf5f5; // Very pale pink
$shade9		 : #f7eadc; // Pale orange
$shade10	 : #d08017; // A deeper orange
$shade11	 : #fcf7f1; // Really really pale pink/orange
$shade12	 : #ecc07d; // 'sprays' orange
$shade13	 : #aad3ef; // 'active fresh deodorant' blue
$shade14     : #f0dfa6; // 'shaving' wheat colour
$shade15	 : #d27839; // Orange, used on about page.
$shade16     : #fae8e5; // Pale pink, as used on the knowledge hub
$shade17	 : #ff7f81; // Pink, as used on knowledge hub
$shade18	 : #fef6f8; // Light pink used behind articles block
$shade19	 : #c4de95; // Green used for text on Dr-Sara
$shade20     : #f8ecf1; // Soothing Pink BG
$shade21     : #f2f8fd; // Active Blue
$shade22     : #f6faef; // Pure Green
$shade23     : #f5f2f7; // Purple Wipes
$shade24	 : #e6f2fb; // She Talks, light blue
$shade25	 : #f8fbfe; // She talks, even lighter blue.
$shade26	 : #f1e8f2; // She talks, pale pink.

//We use these as default colors throughout

$image_path: "../../images/";
$font_path: "../../fonts/";

$base-font-size: 16;
$base-line-height: 120%;

// Media Query Ranges
$sm-range: (0, 700px);
$md-range: (701px, 960px);
$lg-range: (961px, 1150px);
$xlg-range: (1151px, 1460px);
$xxlg-range: (1461px, 1920px);
$xxxlg-range: (1921px, 10000px);

$scale_xlg: 0.75;
$scale_lg: 0.6;
$scale_md: 1;
$scale_sm: 0.5;

$xsm-height-range: (0, 480px);
$sm-height-range: (0, 640px);
$md-height-range: (641px, 768px);
$lg-height-range: (769px, 99999999em);

$col-count: 12;
$col-width: (100% / $col-count);
$col-spacing: 1.23%;

$grid_sides: 4.6%;
$base-pad : ($grid_sides / 2);


$pad_desktop:8.75rem;
$pad_desktop_vert:3.5rem;
$pad_mobile:16px;

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$sm-up: $screen;
$sm-only: "#{$screen} and (min-width:#{lower-bound($sm-range)}) and (max-width: #{upper-bound($sm-range)})";

$md-up: "#{$screen} and (min-width:#{lower-bound($md-range)})";
$md-only: "#{$screen} and (min-width:#{lower-bound($md-range)}) and (max-width: #{upper-bound($md-range)})";

$sm-md-only: "#{$screen} and (min-width:#{lower-bound($sm-range)}) and (max-width: #{upper-bound($md-range)})";

$mobiles-only: "#{$screen} and (min-width:#{lower-bound($sm-range)}) and (max-width: #{upper-bound($md-range)})";
$desktop-only: "#{$screen} and (min-width:#{lower-bound($lg-range)})";

$lg-up: "#{$screen} and (min-width:#{lower-bound($lg-range)})";
$lg-only: "#{$screen} and (min-width:#{lower-bound($lg-range)}) and (max-width: #{upper-bound($lg-range)})";

$sm-lg-only: "#{$screen} and (min-width:#{lower-bound($sm-range)}) and (max-width: #{upper-bound($lg-range)})";
$sm-xlg-only: "#{$screen} and (min-width:#{lower-bound($sm-range)}) and (max-width: #{upper-bound($xlg-range)})";
$md-lg-only: "#{$screen} and (min-width:#{lower-bound($md-range)}) and (max-width: #{upper-bound($lg-range)})";

$xlg-up: "#{$screen} and (min-width:#{lower-bound($xlg-range)})";
$xlg-only: "#{$screen} and (min-width:#{lower-bound($xlg-range)}) and (max-width: #{upper-bound($xlg-range)})";

$xxlg-up: "#{$screen} and (min-width:#{lower-bound($xxlg-range)})";
$xxlg-only: "#{$screen} and (min-width:#{lower-bound($xxlg-range)}) and (max-width: #{upper-bound($xxlg-range)})";

$xxxlg-up: "#{$screen} and (min-width:#{lower-bound($xxxlg-range)})";

// Height based ranges

$xsm-height-only: "#{$screen} and (min-height:#{lower-bound($xsm-height-range)}) and (max-height: #{upper-bound($xsm-height-range)})";
$sm-height-only: "#{$screen} and (min-height:#{lower-bound($sm-height-range)}) and (max-height: #{upper-bound($sm-height-range)})";
$md-height-only: "#{$screen} and (min-height:#{lower-bound($md-height-range)}) and (max-height: #{upper-bound($md-height-range)})";
$lg-height-only: "#{$screen} and (min-height:#{lower-bound($lg-height-range)}) and (max-height: #{upper-bound($lg-height-range)})";
$md-up-height: "#{$screen} and (min-height:#{lower-bound($md-height-range)}) and (max-height: #{upper-bound($lg-height-range)})";


// We use these to define default font stacks

$font-family-normal: 'Open Sans', sans-serif;
$font-family-gotham: 'Montserrat', 'Open Sans', sans-serif;

// We use these to define default font weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$rs8: 0.5rem;
$rs9: 0.5625rem;
$rs10: 0.625rem;
$rs11: 0.6875rem;
$rs12: 0.75rem;
$rs13: 0.8125rem;
$rs14: 0.875rem;
$rs15: 0.9375rem;
$rs16: 1rem;
$rs18: 1.125rem;
$rs20: 1.25rem;
$rs22: 1.375rem;
$rs24: 1.5rem;
$rs26: 1.625rem;
$rs28: 1.75rem;
$rs30: 1.875rem;
$rs32: 2rem;
$rs34: 2.125rem;
$rs36: 2.25rem;
$rs38: 2.375rem;
$rs40: 2.5rem;
$rs48: 3rem;
$rs50: 3.125rem;
$rs60: 3.75rem;
$rs70: 4.375rem;
$rs80: 5rem;
$rs90: 5.625rem;