.hidden {
	display:none;
}

body {

	@media #{$sm-only} {
		.hidden-sm {display:none!important;}
		.vis-sm {display:block!important;}
	}

	@media #{$md-only} {
		.hidden-md {display:none!important;}
		.vis-md {display:block!important;}
	}

	@media #{$lg-only} {
		.hidden-lg {display:none!important;}
		.vis-lg {display:block!important;}
	}

	@media #{$xlg-only} {
		.hidden-xlg {display:none!important;}
		.vis-xlg {display:block!important;}
	}

	@media #{$xxlg-only} {
		.hidden-xxlg {display:none!important;}
		.vis-xxlg {display:block!important;}
	}

	@media #{$xxxlg-up} {
		.hidden-xxxlg {display:none!important;}
		.vis-xxxlg {display:block!important;}
	}

	@media #{$sm-md-only} {
		.hidden-sm-md {display:none!important;}
		.vis-sm-md {display:block!important;}
	}
}