@import 'functions';
@import 'variables';

@media print {

    @page { margin: 1.5cm } 

	html {
		@media #{$sm-only} {
			font-size: 24pt!important;
		}
	}

    body, h1, h2, h3, h4, h5, h6, ol, ul, div, span {
        float: none;
        clear:none;
        position: static;
        overflow: visible;
        color:$black!important;
    }

}