@import 'reset';
@import 'functions';
@import 'variables';
@import 'fonts';
@import 'redgrid';
@import 'visibility';
@import 'retina';
@import 'slick';

@for $i from 0 through 5 {
	.mt#{$i} {margin-top:#{$i}rem!important;}
	.pt#{$i} {padding-top:#{$i}rem!important;}
	.mb#{$i} {margin-bottom:#{$i}rem!important;}
	.pb#{$i} {padding-bottom:#{$i}rem!important;}
	.mr#{$i} {margin-right:#{$i}rem!important;}
}
.mt05 {margin-top:0.5rem!important;}

.tal {text-align:left!important;}
.tac {text-align:center!important;}
.tar {text-align:right!important;}
.w100 {width:100%!important;}
.ff {float:left;}
.cf {@include float-both();}
.glass {@include opacity(0);}
a {
	outline:none;
	text-decoration:underline;
	color:$black;
}
button {
	outline:none;
}
sup {
    vertical-align: super;
    font-size: 50%;
}

html {
	font-size:#{$base-font-size}px;

	@media #{$xlg-only} {
		font-size: #{($base-font-size * $scale_xlg)}px
	}

	@media #{$lg-only} {
		font-size: #{($base-font-size * $scale_lg)}px
	}

	@media #{$sm-only} {
		font-size: #{($base-font-size * $scale_sm)}px
	}

	width:100%;
	height:100%;
}

body {
	line-height:$base-line-height;
	font-family:$font-family-normal;
	color:$black;
	background-color:$white;
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
	height:100%;

	&.noScroll {
		pointer-events:none;
		overflow-y:hidden;
	}

	&[data-mobile-menu="open"] {
		@media #{$sm-md-only} {
			.mobile-menu {
				display:block;
			}

			.page-top {
				#hamburger {
					display:none;
				}

				#mobile-menu-close {
					display:block;
				}
			}

			#page {
				display:none;
			}
		}
	}
}

.noselect {@include noSelect();}

#noIE {display:none;}

.maxInner {
	margin:0 auto;
	width:100%;
	max-width:1920px;
	position:relative;
}

@import 'header';
@import 'content';
@import 'footer';
@import 'disclaimer';

@import 'slick';

/* hide Dr Sara block on product pages */
	.container.dr-sara {
		display:none !important;
	}

/* hide 'She Talks'  video elements */

	.container[data-ref=she-talks]{
		display:none !important;
	}

/* hide Dr Sara eleemnt in /about-femfresh */
	#trigger_sara_top{
		display:none !important;
	}

/* resize 'what is ph-balance eleemnt' in /about-femfresh */
	#trigger_ph_top{
		width:100%;
		.block-ph{
			width:calc(100% - 120px);
			@media screen and (min-width:960px){
				&{
					padding-top:60px;
					padding-bottom:140px;
				}
			}
		}
	}

/* Dr Sara form on /knowledge-hub/gynae-advice */
	.container[data-ref=expert-advice] .ask-more {
	}

	#dr-sara-knowledge-hub-item{
		display:none !important;
	}

@media screen and (min-width:960px){
	#ph-balance-knowledge-hub-item{
		width:50%;		
	}
	#quiz-knowledge-hub-item{
		width:50%;		
	}
}	
