/* Start of about block */

.container[data-ref="about"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:$shade16;

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);

		.head-img {
			@include writeResponsive(width,855px,570px);
		}

		h1 {
			position:absolute;
			left:$rs90;
			top:0;
			padding-top:$rs70;
			@include font-size(200,200);
			color:$shade15;
			font-family:$font-family-gotham;
			font-weight:$font-weight-bold;

			span {
				position:absolute;
				left:($rs70 * 2); top:$rs40;
				color:$black;
				font-family: $font-family-normal;
			}

			@media #{$sm-md-only} {
				left:0;
				@include font-size(130,130);
				
				padding-top:0;
				@include translateY(-$rs8 / 2);

				span {
					@include font-size(60,60);
					left:($rs70); top:-$rs30;
				}
			}
		}

		.orange-box {
			@include writeResponsive(width,385px,320px, height,385px,320px);
			position:absolute;
			left:$rs90;
			bottom:0;
			background-color:#dea65c;
			@include translateY(-50%);
			display:flex;
			align-items:center;

			p {
				width:100%;
				//position:absolute;
				//left:50%; top:50%;
				//@include translateXY();
				text-align: left;
				@include font-size(25,28);
				font-weight: $font-weight-semibold;
				padding:$rs40;
				@include border-box();
			}

			@media #{$sm-md-only} {
				left:0;
				@include translateY(0);
				
				p {
					padding:$rs24;
				}
			}
		}

		.checks {
			@include writeResponsive(padding-left,(385px + 90px + 30px), (320px + 25px));
			padding-top:$rs90;
			@include font-size(30,34);
			font-weight:$font-weight-bold;
			color:$shade15;
			text-align:left;

			@media #{$sm-md-only} {
				@include font-size(24,36);
			}
		}


		.columns {
			padding-left:$rs90;
			width:100%;
			@include border-box();
			display: flex;

			

			.col {
				
				width:50%;
				padding:$rs36 0;
				@include border-box();
				text-align:left;
				position: relative;
				
				&:last-child {
					padding-left:$rs30;

					.promote {
						padding-left:$rs30;
					}
				}

				img {
					width:100%;
				}

				.promote {
					position:absolute;
					left:0; bottom:$rs36;
					width:100%;
					@include border-box();

					p {
						width:50%;
						@include font-size(30,34);
						font-weight:$font-weight-bold;
						color:$shade15;
					}

					a.btn {
						position: absolute;
						right:0;
						bottom:0;
						width:auto;

						border-color:$shade15;
						color:$shade15;

						&:hover {
							background-color:$shade15;
							color:$shade16;
						}
					}
				}
			}

			@media #{$sm-md-only} {
				display:block;
				padding-left:0;

				.col {
					width:100%;

					&:last-child {
						padding-left:0;

						.promote {
							padding-left:0;
						}
					}

					.promote {
						margin-top:2rem;
						position:relative;
						left:auto; bottom:auto;
					}
				}

				&.flippable {
					display: table;
					padding:$rs36 0;

					.flip-1 {
						display: table-footer-group;
						.flip-pad {
							padding:$rs36 0;
						}
					}

					.flip-2 {
						display: table-header-group;
						.flip-pad {
							padding:$rs36 0;
						}
					}
				}
			}
		}
	}


}

/* end of about block */