/* Start of dr-sara block */

.container[data-ref="expert"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#fae8e6;

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);

		.head-img {
			float:right;
			width:50%;

			@media #{$sm-md-only} {
				float:none;
				width:100%;
				margin-top:$rs90*2;
			}
		}

		h1 {
			width:50%;
			position:relative;
			font-size: 4rem;
			padding-bottom:11rem;
			margin-top:6rem;
			span{
				position: absolute;
			    left: 50px;
			    top: -106px;
			    color: #d45779;
			    text-indent: 8rem;
			    font-size: 10rem;
			    line-height: 100%;
			    letter-spacing:1px;

				@media #{$xlg-only} {
				    left: 40px;
				    top: -68px;
				    text-indent: 8rem;
				    font-size: 9rem;
				}
				@media #{$lg-only} {
				    left: 33px;
				    top: -55px;
				    text-indent: 8rem;
				    font-size: 9rem;
				}

				@media #{$md-only} {
				    left: 50px;
				    top: -76px;
				    color: #d45779;
				    text-indent: 8rem;
				    font-size: 8rem;
				}
				@media #{$sm-only} {
					left: 30px;
    				top: -24px;
    				font-size:6rem;
				}
    		}


			@media #{$sm-md-only} {
				width:100%;
				position:absolute;
				left:0;
				top:0;

			}
		}

		h2{
			font-size:2.1rem;
			font-weight:600;
		}
		.desc {
			width:50%;
			position:absolute;
			left:0; bottom:0;
			padding:0 ($rs70*2) 0 $rs48;
			@include border-box();

			p {
				text-align:left;
				color:#d45779;
				font-size:1.45rem;
				line-height:140%;
				font-weight:600;
				span{
					color:#84364c;
				}
			}

			@media #{$sm-md-only} {
				position:relative;
				left:auto; bottom:auto;
				width:100%;
				padding:$rs30 0 0 0;

			}
		}

		.btns {
			text-align:left;
			padding-left:$rs48;

			a.btn {
				display:inline-block;
				width:auto;
				margin-right:$rs30;
				color:#d45779;
				border-color:#d45779;

				&:hover {
					background-color:#d45779;
					color:#fae8e6;
				}
			}

			@media #{$sm-md-only} {
				padding-left:0;

				a.btn {
					text-align:center;

					&:last-child {
						margin-right:0;
					}
				}
			}

			@media #{$md-only} {
				a.btn {
					width:auto;
				}
			}
			@media #{$sm-only} {
				a.btn {
					width:auto;
				}
			}
		}
	}
}

/* end of dr-sara block */

/* expert advice page blog post carousel */
.container#expert-advice {
	@include writeResponsive(padding-bottom,100px,78px);
	h2{
		margin-bottom:4rem;
	}
	background-color:#fcf7f2;
	.frame{
		width:100%;
		.row{
			width:calc(100% - 32px);
			margin-left:auto;
			margin-right:auto;
			float:none;
			padding-bottom: 43px;

			.slick-arrow{
				top:25%;
				transform: translate(0,0%);
				width:60px;
				heihgt:60px;
				&:before{
					font-size:60px;
				}
				&.slick-prev{
					left:-60px;
				}
				&.slick-next{
					right:-60px;
				}
			}
			.column{
				position:relative;
				width:33.3%;
				box-sizing:border-box;
				padding:0 6px;
				display:inline-block;
				float:left;
				.pic{
					overflow:hidden;
					img{
						width:100%;
						@include transition-this(transform);
					}
				}
				p{
					min-height:5rem;
					margin:0.9rem 0 0 0;
					font-size: 1.7rem;
				    line-height: 130%;
				    font-weight: 500;
				}
				a.btn{
					display:inline-block;
					position:absolute;
					right:6px;
					left:auto;
					bottom:0;
					cursor:pointer;
					border:2px solid #d45779;
					color:#d45779;
					padding-left:3rem;
					padding-right:3rem;
					&:hover{
						background-color:#d45779;
						color:#fae8e6;
					}
				}
				&.video{
					.pic{
						position:relative;
						img{
							z-index:1;
						}
						span.popupVideo{
							position:absolute;
							left:0px;
							top:0px;
							width:100%;
							height:100%;
							text-indent:-9999em;
							overflow:hidden;
							z-index:10;
							background-image:url('/images/icons/videoplay.png');
							background-repeat:no-repeat;
							background-position:50% 50%;
							background-size:20%;
							display:block;
							cursor:pointer;
						}
					}
				}
				&:hover{
					.pic{
						img{
							@include scale(1.2);
						}
					}
				}
			}
			&:after{
				content:' ';
				display:block;
				float:none;
				clear:both;
			}
			@media #{$sm-md-only} {
				&{
					.column{
						width:100%;
						float:none;
						clear:both;
						margin-bottom:1rem;
					}
				}
			}
		}
	}
}

/* Start of dr-sara top tips block */

.container[data-ref="top-tips"] {
	@include writeResponsive(padding-bottom,100px,78px);

	.inner-fix {
		.desc {
			position:absolute;
			left:28rem; right:0; top:$rs16;
			@include font-size(26,28);
			font-weight:$font-weight-semibold;

			@media #{$sm-md-only} {
				position:relative;
				left:auto; right:auto; top:auto;
				padding:$rs30 $rs30 0 $rs30;
			}
		}

		.slick-wrapper {
			width:100%;
			position:relative;
			padding-left:$rs60;
			@include border-box();
			margin-top:$rs30;

			.arrow {
				position:absolute;
				top:$rs30;
				cursor:pointer;

				img {
					width:$rs32*2; height:$rs36*2;
				}

				&.left {
					left:$rs30 + $rs60;
					img {
						-moz-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}

				&.right {
					right:$rs30;
				}
			}

			&[data-show="1"] {
				.arrow.left {
					display:none!important;
				}
			}

			&[data-show="10"] {
				.arrow.right {
					display:none!important;
				}
			}

			.tip-title {
				color:#cce3a7;
				position:absolute;
				top:$rs30;
				left:0; right:0;
				text-align:center;
				@include font-size(77,100);
				@include translateY(-$rs24);

				@media #{$sm-md-only} {
					@include font-size(60,100);
					@include translateY(-$rs40);
				}


			}

			.slick-tips {
				width:100%;
				
				.slick-slide {
					img {
						width:100%;
					}
				}
			}

			@media #{$sm-md-only} {
				background-color:#ebf4dc;
				padding-left:0;
				padding-top:$rs24;

				.arrow {
					img {
						width:$rs32; height:$rs36;
					}

					&.left {
						left:$rs30;
					}
				}
			}

			@media #{$sm-only} {
				padding-top:$rs24*2;

				.arrow {
					img {
						width:$rs32*2; height:$rs36*2;
					}
				}
			}
		}
	}
}
/* End of dr-sara top tips block */

/* Start of dr-sara expert advice block */

.container[data-ref="questions"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#fae8e6;

	h2{
		margin-bottom:2rem;
	}
	.expander{
		.clipper{
			max-height:0;
			overflow:hidden;
			@include transition-this(max-height);
		}
		.opener,.closer{
			cursor:pointer;
			border:2px solid #d45779;
			color:#d45779;
			&:hover{
				background-color:#d45779;
				color:#fae8e6;
			}
			padding-right:3em;
			background-repeat:no-repeat;
			background-position:85% 50%;
		}
		.opener{
			display:inline-block;
			background-image:url('/images/icons/expand.png');
		}
		.closer{
			display:none;
			background-image:url('/images/icons/contract.png');
		}
		&.open{
			.clipper{
				max-height:1000rem;
			}
			.opener{display:none;}
			.closer{display:inline-block;}
		}
	}
	ul.advice {
		list-style:none;

		li {
			background-color:#fff;
			margin-bottom:$rs18;
			padding:$rs20 ($rs50*2) $rs20 $rs32;
			cursor:pointer;
			position:relative;
			min-height:35px;
			@include border-box();

			h4 {
				@include font-size(26,30);
				color:#d45779;
				font-weight:$font-weight-bold;

				@media #{$sm-md-only} {
					@include font-size(20,22);
				}
			}

			.plus,
			.minus {
				position:absolute;
				top:0; right:0;
				@include wh($rs70);
				@include transition-this(opacity,0.1s);
			}

			.minus {
				@include opacity(0);
			}

			.reveal {
				height:auto;
				max-height:0;
				@include transition-this();
				overflow:hidden;

				h5 {
					margin-top:$rs20;
				}

				p {
					margin-top:$rs20;
					font-weight:$font-weight-semibold;
				}
			}
			&.open{
				.reveal {
					max-height:1000px;
					padding-bottom:0.5rem;
				}

				.minus {
					@include opacity(1);
				}

				.plus {
					@include opacity(0);
				}
			}
		}
	}
}

/* End of dr-sara expert advice block */

/*
.ask-more {
	margin-top:$rs80*2;
	background-color:#c4de95;
	padding:$rs20;

	p {
		@include font-size(30,36);
		font-weight:$font-weight-bold;
	}

	.form-row {
		width:100%;
		display:inline-block;
		padding-right:11rem;
		padding-top:$rs40;
		@include border-box();
		position:relative;

		input[type="text"] {
			width:100%;
			display:inline-block;
			padding:$rs20 $rs30;
			@include font-size(24,24);
			@include border-box();
			color:#5b5b5b;
			outline: none;
		}

		input[type="button"] {
			position:absolute;
			top:$rs40; right:0;
			width:10rem;
			@include font-size(24,24);
			font-weight:$font-weight-semibold;
			padding:$rs20 $rs30;
			@include border-box();
			background-color:transparent;
			color:#4a7c4b;
			border:2px #4a7c4b solid;
			cursor:pointer;
			@include transition-this(all,0.2s);
			outline: none;

			&:hover {
				background-color:#4a7c4b;
				color:#c4de95;
			}
		}

		@media #{$sm-md-only} {
			padding-right:0;

			input[type="button"] {
				position:relative;
				top:auto; right:auto;
				margin-top:$rs8;
				width:100%;
			}
		}
	}

	.result-row {
		width:100%;
		display:inline-block;

		p {
			padding:$rs20 0;
			color:#4a7c4b;
			@include font-size(20,20);
		}
	}
}
*/

.container[data-ref="ask-a-question"] {
	@include writeResponsive(padding-bottom,100px,78px);

    h2{
        margin-bottom: 0.5em;
    }
    p{
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 24px;
        line-height: 1.5rem;
        font-weight: 400;
        a{
        	color:#878787;
        	text-decoration:underline;
        }
    }

    .form-row {
        display: block;
        padding-top: 1.25rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        clear: left;

        label {
            float: none;
            clear: both;
            display: block;
            color: #000000;
            text-align: left;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0.75rem 0;
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 30px;
            line-height: 1.875rem;

            @media only screen and (min-width: 0) and (max-width:960px) {
                &{
                    width:100%;
                }
            }
        }
        small.error {
            float: none;
            clear: both;
            display: block;
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 30px;
            line-height: 1.875rem;
            padding-top: 0.5em;
        }
        select {
            width: auto;
            display: inline-block;
            padding: 1.25rem 1.875rem;
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 24px;
            line-height: 1.5rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #5b5b5b;
        }
        input[type=text] {
            width: 100%;
            display: inline-block;
            padding: 1.25rem 1.875rem;
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 24px;
            line-height: 1.5rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #5b5b5b;
            outline: none;
            border:1px solid #d45779;
            font-family: "Open Sans",sans-serif;
        }
        textarea {
            width: 100%;
            display: inline-block;
            padding: 1.25rem 1.875rem;
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 24px;
            line-height: 1.5rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #5b5b5b;
            outline: none;
            resize: none;
            border:1px solid #d45779;
            font-family: "Open Sans",sans-serif;
        }

        input[type=submit] {
        	margin-left:auto;
        	margin-right:0;
        	display:block;
		    display: block;
		    font-size: 24px;
		    font-size: 1.5rem;
		    line-height: 24px;
		    line-height: 1.5rem;
		    border: 2px #d45779 solid;
		    background-color:#fff;
		    color:#d45779;
		    padding: 15px;
		    font-weight: 600;
		    will-change: all;
		    transition: all 0.2s ease-in-out;
		    text-transform: uppercase;
		    cursor:pointer;
		    &:hover{
		    	background-color:#d45779;
		    	color:#fff;
		    }
        }


        input[type=button] {
            position: absolute;
            top: 2.5rem;
            right: 0;
            width: 10rem;
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 24px;
            line-height: 1.5rem;
            font-weight: 600;
            padding: 1.25rem 1.875rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: transparent;
            color: #4a7c4b;
            border: 2px #4a7c4b solid;
            cursor: pointer;
            will-change: all;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            outline: none;

            &:hover{
                background-color: #4a7c4b;
                color: #c4de95;
            }
        }

        &.checkbox{
            label {
                float: left;
                clear: none;
                width: auto;
                margin: 0;
                padding: 0;
                display: inline-block;
                font-size: 24px;
                font-size: 1.5rem;
                line-height: 30px;
                line-height: 1.875rem;

                @media only screen and (min-width: 0) and (max-width:960px) {
                    &{
                        padding-left:10px;
                        width: 90%;
                    }
                }
            }
            input {
                float: left;
                width: auto;
                display: inline-block;
                vertical-align: middle;
            }
            small.error {
                float: none;
                clear: both;
                display: block;
                padding-left: 0;
            }

            @media only screen and (min-width: 0) and (max-width:960px) {
                &{
                    padding-left:0%;
                }
            }
        }

        &.has-error{
            label {
                color: #000;
            }
            small.error {
                color: #f00;
                font-style: italic;
            }
            input[type=text],
            select,
            textarea {
                border: 1px solid red;
            }
        }

        @media only screen and (min-width: 0) and (max-width:960px) {
            &{
                padding-right:0;
                width: 95%;
                display: block;

                input[type=button] {
                    position: relative;
                    top: auto;
                    right: auto;
                    margin-top: 0.5rem;
                    width: 100%;
                }
            }
        }

        .result-row {
            width: 100%;
            display: inline-block;

            p{
                padding: 1.25rem 0;
                color: #4a7c4b;
                font-size: 20px;
                font-size: 1.25rem;
                line-height: 20px;
                line-height: 1.25rem;
            }
        }
    }
}

.container[data-ref="learn-more"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#feecf0;
    h2{
        margin-bottom: 0.5em;
    }
    p{
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 24px;
        line-height: 1.5rem;
        font-weight: 400;
        a{
        	color:#878787;
        	text-decoration:underline;
        }
    }
}

body{

  .modal {

	  .modal-backdrop {
	      position: fixed;
	      top: 0;
	      right: 0;
	      bottom: 0;
	      left: 0;
	      z-index: 1;
	      background-color: #000;
	      opacity:1;

	      -webkit-transition: opacity 0.3s ease;
	      -moz-transition: opacity 0.3s ease;
	      -ms-transition: opacity 0.3s ease;
	      -o-transition: opacity 0.3s ease;
	      transition: opacity 0.3s ease;
	  }

	&.portrait{
		.modal-dialog{
			width:auto;
			.modal-content{
				.modal-body{
					video{
						width:auto;
						height:75vh;
					}
				}
			}
		}  	
	}
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
	opacity:0;
	display:flex;
	align-items:center;
	align-content:center;

	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;

      .modal-dialog{
        display:block;
        width:90%;
        max-width:1000px;
        margin-top:1.5rem;
        margin-left:auto;
        margin-right:auto;
      z-index: 1;
        .modal-header{
          display:flex;
          justify-content:space-between;
          padding-bottom:1rem;
          modal-title{}
          button{
            border:0;
            font-size:2rem;
            line-height:1rem;
            cursor:pointer;
            background-color:#fff;
          }
        }
        .modal-content{
          padding:1rem;
          background-color:#fff;
          border-radius:1rem;
          .modal-body{
            video{
              width:100%;
            }
          }
        }
      }
      @media screen and (orientation:landscape) and (max-height:750px) {
        &{
          .modal-dialog{
            display:inline-block;
            align-content:center;
            width:auto;
            margin:0 auto;
            .modal-content{
              .modal-body{
                width:auto;
                video{
                  width:auto;
                  max-height:80vh;
                  max-width:100%;
                }
              }
            }
          }
        }
      }
  }


  &.modal-open{
    overflow:hidden;
    position:relative;

    .modal {
		opacity:1;
		overflow-x: hidden;
		overflow-y: auto;
    }

    .modal-backdrop {
        opacity: .5;
    }
  }
}
