/* Start of faqs head block */

.container[data-ref="faqs-head"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#eee6ef;

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);

		.head-img {
			float:right;
			width:50%;

			@media #{$sm-md-only} {
				float:none;
				width:100%;
				margin-top:$rs26*2;
			}
		}

		h1 {
			width:100%;
			position:relative;

			span.p1 {
				position:absolute;
				left:$rs30; top:0;
				width:100%;
				text-align:left;
				@include border-box();
			}

			span.p2 {
				position:absolute;
				right:$rs60; top:$rs50;
				@include font-size(200,170);
				color:#b8a3c7;
				font-family: $font-family-gotham;
			}

			@media #{$sm-md-only} {
				position:absolute;
				left:0; top:0;

				span.p1 {
					left:0;
				}

				span.p2 {
					@include font-size(130,103);
					left:-$rs16; right:auto;
					top:$rs60;

				}
			}
		}

		.desc {
			width:50%;
			position:absolute;
			left:0; bottom:$rs60;
			padding:0 ($rs70*2) 0 $rs48;
			@include border-box();

			p {
				text-align:left;
				color:#b8a3c7;
				@include font-size(24,28);
				font-weight:$font-weight-semibold;
			}

			@media #{$sm-md-only} {
				position:relative;
				left:auto; bottom:auto;
				width:100%;
				padding:$rs30 0 0 0;

				p {
					padding:$rs30;
					color:$black;
				}
			}
		}

		#search-faqs {
			width:50%;
			padding-left:$rs48;
			@include border-box();
			position:relative;

			input[type="text"] {
				width:100%;
				border:1px #a6a6a6 solid;
				background-color:transparent;
				color:#a6a6a6;
				padding:$rs20;
				@include font-size(24,24);
				@include border-box();
				outline:none;
			}

			input[type="button"] {
				position:absolute;
				top:$rs10; right:$rs8;
				border:none;
				@include wh($rs48);
				cursor:pointer;
				background: transparent url(/images/faqs/search.svg) no-repeat center center;
				background-size:contain;
				outline:none;
			}

			.reset {
				display:inline-block;
				margin-top:$rs20;
				padding-left:0;
				@include font-size(24,24);
				color:#a6a6a6;

				&.hidden {
					display:none;
				}
			}

			@media #{$sm-md-only} {
				width:100%;
				padding:0 $rs30;

				input[type="button"] {
					right:$rs38;
				}
			}


		}

		#search-categories {
			width:100%;
			padding-left:$rs48;
			@include border-box();

			@media #{$sm-md-only} {
				padding-left:$rs30;
			}

			p {
				@include font-size(24,24);
				font-weight:$font-weight-bold;
				margin-top:$rs30;
				color:#a6a6a6;
			}

			ul {
				list-style:none;
				margin-top:$rs30;

				li {
					display:inline-block;
					color:#a6a6a6;
					@include font-size(24,24);
					margin-bottom:$rs30;
					font-weight:$font-weight-semibold;

					a {
						color:#a6a6a6;
					}
				}

				&.cats {
					float:left;
					width:50%;
					@include border-box();

					li {
						margin-right:$rs70;

						&.hidden {
							display:none!important;
						}
					}
				}

				&.expanders {
					float:right;
					width:50%;
					@include border-box();
					text-align:right;

					li {
						margin-left:$rs70;
					}
				}
			}
		}
	}
}

/* End of faqs head block */


/* Start of faqs block */

.container[data-ref="faqs"] {
	@include writeResponsive(padding-bottom,100px,78px);

	.inner-fix {

		h2.heading {
			background-color:#b8a3c7;
			color:$white;
			font-weight:$font-weight-bold;
			@include font-size(44,44);

			margin-bottom:$rs16;
			margin-top:$rs90;
			padding:$rs20;
			@include border-box();
			text-align:left;
			text-transform:lowercase;

			&:first-child {
				margin-top:0;
			}
		}

		.faq-list {
			list-style:none;
			text-align:left;

			li {
				background-color:#eee6ef;
				padding:$rs30 $rs30 0 $rs30;
				@include border-box();
				position:relative;
				

				&:after {
					content:"";
					display:block;
					width:100%;
					border-top:2px #b8a3c7 solid;					
				}

				&:last-child {
					&:after {
						padding-bottom:$rs30;
					}
				}

				h4 {
					@include font-size(26,28);
					font-weight:$font-weight-bold;
					padding-bottom:$rs30;
					padding-right:$rs80;
					cursor:pointer;
				}

				.plus,
				.minus {
					position:absolute;
					top:$rs30; right:$rs30;
					@include wh($rs40);
					@include transition-this(opacity,0.1s);
					pointer-events:none;
					cursor:pointer;
				}

				.minus {
					@include opacity(0);
				}

				.ans {
					height:auto;
					max-height:0;
					overflow:hidden;
					@include transition-this();

					p {
						padding-right:$rs80;
						margin-bottom:$rs30;
					}
				}

				&[show="true"] {
					// .ans {
					// 	max-height:1000px;
					// }

					.minus {
						@include opacity(1);
					}

					.plus {
						@include opacity(0);
					}
				}

				
			}
		}

		&.searching {
			.faq-list {
				li {
					&[filtered="true"] {
						h4, p, ul li {
							color:#a6a6a6;
							span {
								color:$black;
							}
						}
					}
				}
			}
		}
	}
}

/* End of faqs block */

@import 'components/faq-animations';