/* Start of header block */

.container[data-ref="home-1"] {
	/* @ include writeResponsive(padding-bottom,220px,225px); */

	.hc{
		width:100%;
		max-width:1440px;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:910px;
		z-index:1;
		.outer-fix{
			float:left;
			margin-right:-100%;
			left:100%;
			opacity:0;
			&.active{
				left:0%;
				opacity:1;
			}
		}
		@media only screen and (max-width: 1460px) and (min-width: 1151px){
			padding-bottom:700px;
			max-width:1080px;
		}
		@media only screen and (max-width: 1150px) and (min-width: 961px){
			padding-bottom:570px;
			max-width: 862px;
		}
		@media only screen and (max-width: 960px) and (min-width: 701px){
			padding-bottom:770px;
			max-width: 750px;
		}
		@media only screen and (max-width: 700px) and (min-width: 0){
			padding-bottom:400px;
			max-width: 375px;
		}
	}

	.control{
		position:absolute;
		top:0%;
		height:100%;
		background-color:rgba(179,178,185,0.5);
		width:42px;
		display:flex;
		align-items:center;
		cursor:pointer;
		opacity:0;
		text-align:center;
		&:hover{
			opacity:1;
		}
		&.left{
			left:0px;
		}
		&.right{
			right:0px;
		}
		img{
			margin:0 auto;
		}
	}
	.index{
		position:absolute;
		left:50%;
	    transform: translate(-50%, 0%);
		bottom:12px;
		list-style-type:none;
		margin:0;
		padding:0;
		li{
			margin:0 12px;
			display:inline-block;
			width:26px;
			height:26px;
			border-radius:14px;
			border:2px solid #d9dade;
			text-indent:-99999em;
			overflow:hidden;
			cursor:pointer;
			&.active{
				background-color:#b3b2b9;
			}
		}
	}
}

.test-slick{
	margin-left:auto;
	margin-right:auto;
	max-width: 1460px;

	@media only screen and (max-width: 1460px) and (min-width: 1151px){
		max-width:1080px;
	}
	@media only screen and (max-width: 1150px) and (min-width: 961px){
		max-width: 862px;
	}
	@media only screen and (max-width: 960px) and (min-width: 701px){
		max-width: 750px;
	}
	@media only screen and (max-width: 700px) and (min-width: 0){
		max-width: 375px;
	}
}

/* home page banner carousel - default panel 'intimate skin'*/
@import 'components/home_intimate_skin_banner';

/* home page banner carousel - second panel Dr Frankie's expert advice */
@import 'components/home_dr_frankie_banner';

/* home page banner carousel - third panel Femfresh Solutions */
@import 'components/home_ffs_banner';

#trigger_head_top,
#trigger_head_middle,
#trigger_head_bottom {
	position:absolute;
	width:100%;
	left:0;
}

#trigger_head_top {top:0%;}
#trigger_head_middle {top:50%;}
#trigger_head_bottom {top:100%;}

/* End of header block */

/* Start of ranges blocks */
@import 'components/home_range_femfresh_solutions';
@import 'components/home_range_triplet';
/* End of ranges blocks */