/* Start of knowledge hub block */

.container[data-ref="knowledge"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:$shade16;

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);

		.head-img {
			@include writeResponsive(width,660px,570px);
			margin-top:$rs60*2;
		}

		h1 {
			position:absolute;
			left:0;
			top:0;
			@include font-size(200,200);
			color:$shade17;
			font-family:$font-family-gotham;
			font-weight:$font-weight-bold;
			text-align:left;

			span.p1 {
				font-family:$font-family-normal;
				color:$black;
			}

			span.p2 {
				display:inline-block;
			}

			span.p3 {
				display:inline-block;
				@include translateX($rs90);
			}

			span.p4 {
				display:inline-block;
				@include translateX($rs90 * 2);
			}

			@media #{$sm-md-only} {
				@include font-size(130,130);
			
				span.p2 {
					@include translateXY($rs80*4,-$rs48);
				}

				span.p3 {
					@include translateXY(0,-$rs48);
				}

				span.p4 {
					@include translateXY(0,-$rs48);
				}
			}
		}

		.desc {
			position:absolute;
			left:$rs90 * 1.5; bottom:$rs90*1.5;
			@include writeResponsive(width,280px,280px);
			@include font-size(30,36);
			font-weight:$font-weight-bold;
			text-align:left;
			color:$shade17;

			@media #{$sm-md-only} {
				position:relative;
				left:auto; bottom:auto;
				margin-top:$rs60;
				margin-left:$rs90;
			}
		}

	}
}

/* end of knowledge hub block */

/* Start of knowledge hub sections block */

.container[data-ref="knowledge-sections"] {
	@include writeResponsive(padding-bottom,100px,78px);

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);


		.columns {
			.col {
				float:left;
				width:33%;
				padding:0 $rs30;
				@include border-box();

				img {
					width:100%;
				}

				.box {
					@include writeResponsive(height,255px,275px);
					width:100%;
					padding:$rs40 $rs30 $rs60 $rs30;
					@include border-box();

					@include translateXY(-$rs30,-$rs30);
					position:relative;

					

					p {
						font-weight:$font-weight-semibold;
					}

					.btn {
						display:inline-block;
						width:auto;
						// @include translateY($rs30);
						position:absolute;
						left:50%; bottom:$rs30;
						@include translateXY(-50%,0);
					}

					&[data-box-id="1"] {
						background-color:rgba(#c4de95,0.7);

						.btn {
							color:#4a7c4b;
							border-color:#4a7c4b;

							&:hover {
								background-color:#4a7c4b;
								color:#c4de95;
							}
						}
					}

					&[data-box-id="2"] {
						background-color:rgba(#f2e4b3,0.7);

						.btn {
							color:#a289b5;
							border-color:#a289b5;

							&:hover {
								background-color:#a289b5;
								color:#f2e4b3;
							}
						}
					}

					&[data-box-id="3"] {
						background-color:rgba(#eeb990,0.7);

						.btn {
							color:#d08017;
							border-color:#d08017;

							&:hover {
								background-color:#d08017;
								color:#eeb990;
							}
						}
					}
				}

				@media #{$sm-md-only} {
					width:100%;
					padding:0 $rs36 $rs36 $rs36;

					.box {
						p {
							@include font-size(27,36);
						}
					}
				}
			}
		}
	}

}

/* end of knowledge hub sections block */