/* Start of range block */

.container[data-ref="range-washes"] {

	h2 {
		color:$shade10;
	}

	.range-group {

		.border {
			border:2px mix($shade10,$white,50%) solid;
		}

		.col {
			width:25%;
			height:490px;

			@media #{$xlg-only} {
				height:490px * $scale_xlg;
			}

			@media #{$lg-only} {
				height:490px * $scale_lg;
			}

			@media #{$md-only} {
				height:560px;
			}

			@media #{$sm-only} {
				height:560px * $scale_sm;
			}

			div.inner {

				a.btn {
					left:$rs20;
				}

				&[data-theme="1"] {
					.blockout {
						background-color:#e7b05c;
					}

					a.btn:hover {
						color:#e7b05c;
					}
				}

				&[data-theme="2"] {
					.blockout {
						background-color:#d74d95;
					}

					a.btn:hover {
						color:#d74d95;
					}
				}

				&[data-theme="3"] {
					.blockout {
						background-color:#00a0dd;
					}

					a.btn:hover {
						color:#00a0dd;
					}
				}

				&[data-theme="4"] {
					.blockout {
						background-color:#00793e;
					}

					a.btn:hover {
						color:#00793e;
					}
				}

				&[data-theme="5"] {
					.blockout {
						background-color:#00a0dd;
					}

					a.btn:hover {
						color:#00a0dd;
					}
				}

				@media #{$sm-md-only} {
					&[data-theme="1"] {
						background-color:#e7bf8b;
					}

					&[data-theme="2"] {
						background-color:#e7bed1;
					}

					&[data-theme="3"] {
						background-color:#d4e9f7;
					}

					&[data-theme="4"] {
						background-color:#e1eeca;
					}
				}
			}
		}
	}
}

.container[data-ref="range-wipes"] {
	padding-top:0;
	
	.anchor {
		@include writeResponsive(top,-200px,-178px);
	}

	h2 {
		color:$shade7;
	}

	.range-group {

		.border {
			border:2px mix($shade7,$white,50%) solid;
		}

		.col {
			width:50%;
			height:510px;

			@media #{$xlg-only} {
				height:510px * $scale_xlg;
			}

			@media #{$lg-only} {
				height:510px * $scale_lg;
			}

			@media #{$md-only} {
				height:560px;
			}

			@media #{$sm-only} {
				height:560px * $scale_sm;
			}

			div.inner {

				&[data-theme="1"] {
					.blockout {
						background-color:$shade7;
					}

					a.btn:hover {
						color:$shade7;
					}
				}

				@media #{$sm-md-only} {
					&[data-theme="1"] {
						background-color:#e2d9e6;
					}
				}
			}
		}
	}
}


.container[data-ref="range-sprays"] {
	padding-top:0;
	.anchor {
		@include writeResponsive(top,-200px,-178px);
	}

	h2 {
		color:$shade12;
	}

	.range-group {

		.border {
			border:2px mix($shade12,$white,50%) solid;
		}

		.col {
			width:50%;
			height:510px;

			@media #{$xlg-only} {
				height:510px * $scale_xlg;
			}

			@media #{$lg-only} {
				height:510px * $scale_lg;
			}

			@media #{$md-only} {
				height:560px;
			}

			@media #{$sm-only} {
				height:560px * $scale_sm;
			}

			div.inner {				

				&[data-theme="1"] {
					.blockout {
						background-color:$shade12;
					}

					a.btn:hover {
						color:$shade12;
					}
				}

				&[data-theme="2"] {
					.blockout {
						background-color:$shade13;
					}

					a.btn:hover {
						color:$shade13;
					}
				}

				@media #{$sm-md-only} {
					&[data-theme="1"] {
						background-color:#e7bf8b;
					}

					&[data-theme="2"] {
						background-color:#d4e9f7;
					}
				}
			}
		}
	}
}


.container[data-ref="range-solutions"] {
	padding-bottom:0px !important;
	.anchor {
		@include writeResponsive(top,-200px,-178px);
	}

	h2 {
		color:#000;
	}
	p{
		color:#000;
		text-align:left;
		margin:2rem 5.6rem 2rem 5.6rem;
		font-size:1.375rem;
		line-height:1.5rem;
		font-weight:600;
	}
	.range-group {

		.border {
			border:2px mix($shade7,$white,50%) solid;
		}

		.col {
			width:50%;
			height:510px;

			@media #{$xlg-only} {
				height:510px * $scale_xlg;
			}

			@media #{$lg-only} {
				height:510px * $scale_lg;
			}

			@media #{$md-only} {
				height:560px;
			}

			@media #{$sm-only} {
				height:560px * $scale_sm;
			}

			div.inner {
				a.btn{
					left:1.25rem !important;
					right:auto !important;
				}
				&[data-theme="2"] {
					.blockout {
						background-color:#d74d95;
					}

					a.btn:hover {
						color:#d74d95;
					}
				}

				&[data-theme="1"] {
					.blockout {
						background-color:#00a0dd;
					}

					a.btn:hover {
						color:#00a0dd;
					}
				}


				@media #{$sm-md-only} {
					&[data-theme="1"] {
						background-color:#d5e5e8;
					}

					&[data-theme="2"] {
						background-color:#ecc0c9;
					}
				}
			}
		}
	}
}

.container[data-ref="range-washes"],
.container[data-ref="range-wipes"],
.container[data-ref="range-sprays"],
.container[data-ref="range-solutions"] {
	@include writeResponsive(padding-bottom,100px,78px);

	// theme

	h2 {
		text-align:left;
		padding-bottom:$rs10;
		z-index:2;
		position:relative;
	}

	.range-group {
		float:left;
		display:block;
		width:100%;
		padding-left:$rs60;
		@include border-box();
		position:relative;
		z-index:1;

		.border {
			position:absolute;
			left:$rs50; top:-$rs40;
			right:-$rs40; bottom:-$rs40;
			z-index:1;
		}

		.col {
			float:left;
			padding-left:$rs30;
			@include border-box();


			div.inner {
				float:left;
				width:100%; height:100%;
				position:relative;
				overflow:hidden;

				img {
					position:absolute;
					left:50%; top:0;
					@include translateX();
					height:100%;
					z-index:1;
				}

				.blockout {
					position:absolute;
					left:0; top:0;
					@include wh(100%);
					@include opacity(0);
					@include transition-this();
					z-index:2;
				}

				h3 {
					position:absolute;
					top:$rs20;
					left:$rs20; right:$rs20;
					z-index:3;
					text-align:left;
					@include font-size(44,44);
					@include opacity(0);
					@include transition-this();
					color:$white;
				}

				a.btn {
					position:absolute;
					bottom:$rs20;
					right:$rs20;
					z-index:4;
					border-color:$white;
					color:$white;
					@include opacity(0);
					@include transition-this();

					&:hover {
						background-color:$white;
					}
				}

				@media #{$lg-up} {
					&:hover {
						.blockout {
							@include opacity(0.8);
						}

						h3 {
							@include opacity(1);
						}

						a.btn {
							@include opacity(1);
						}
					}
				}

				
			}
		}
	}
		
	@media #{$sm-md-only} {
		h2 {
			@include translateX(-$rs36);
		}

		.range-group {
			padding-left:0;

			.border {
				left:-$rs20; top:-$rs30;
				right:-$rs20; bottom:-$rs30;
			}

			.col {
				padding-left:0;
				width:100%;
				padding-bottom:$rs50*2;

				div.inner {
					//padding-bottom:100px;
					overflow:visible;

					.blockout {
						padding-bottom:$rs50*2;
						z-index:10;
					}

					img {
						left:50%;
						@include translateX();
					}

					h3 {
						@include opacity(1,'important');
						color:$black;
						@include font-size(44,44);

						top:100%;
						margin-top:$rs16;
						//bottom:$rs40;
						left:$rs20; right:$rs20;
						z-index:3;
						text-align:center;
						@include font-size(44,44);
						@include opacity(0);
						@include transition-this();
					}

					a.btn {
						display:none;
					} 
				}

				&[data-title-size="2"] {
					padding-bottom:$rs70*2;

					div.inner {
						.blockout {
							padding-bottom:$rs70*2;
						}
					}
				}
			}
		}
	}

}

/* End of range block */