/* Start of knowledge hub block */

.container[data-ref="about-ph-balance"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#faf5e4;

	.inner-fix {
		
		h1 {
			width:100%;
			padding-bottom:$rs80;
			
			.p1 {
				position:absolute;
				left:0; top:-$rs20;
			}

			.p2 {
				display:inline-block;
				width:100%;
				text-align:right;
				@include font-size(200,200);
				color:#cec0d5;
				font-family:$font-family-gotham;				
			}

			@media #{$sm-md-only} {
				padding-bottom:$rs50;

				.p1 {
					top:-$rs8;
				}

				.p2 {
					margin-top:$rs40;
					@include font-size(100,100);
				}
			}
		}

		.upper {
			//padding-left:$rs90;
			position: relative;

			.desc {
				position:absolute;
				@include writeResponsive(padding-right,812px + 80px,0);

				p {
					margin-bottom:$rs16;
				}
			}

			@media #{$sm-md-only} {
				display: table;
				padding-left:0;

				.desc {
					position:relative;
					padding-right:0;
					display: table-footer-group;

					p.mob-first {
						margin-top:$rs50;
					}
				}

				.ph-mask {
					display: table-header-group;
				}
			}
		}

		.ph-mask {
			float:right;
			@include writeResponsive(width,812px,610px, height,812px,610px);
			background-color:$white;
			overflow:hidden;
			position:relative;
			
			.ph-inner {
				@include wh(100%);
				@include translateY(50%);
				border-top:1px rgba($black,0.1) solid;
			}

			svg, .svg {
				width:100%;
				@include transition-this();
				
				.st1 {
					path {
						fill:$white;
					}
				}

				.st1, .st3, .st4, .st5 {
					opacity:0.5;
				}

				.st3{fill:#EE1C25;}
				.st4{fill:#462C83;}
				.st5{fill:#33A94B;}

				.st6 {
					opacity:0.3;
					@include transition-this();

					path {
						fill:$white;
					}
				}
			}

			$svgHeight:2350;

			&[data-item="1"] {
				svg, .svg {
					/* @include translateY(-((410 / 2350) * 100 + %); */
					@include translateY(-17.45%);
					#item1 {
						opacity:1;
					}
				}

				.arrow.up {
					display:none;
				}
			}
			&[data-item="2"] {
				svg, .svg {
					/* @include translateY(-((660 / $svgHeight) * 100) + %); */
					@include translateY(-28.1%);
					#item2 {
						opacity:1;
					}
				}
			}
			&[data-item="3"] {
				svg, .svg {
					/* @include translateY(-(943/$svgHeight*100) + %); */
					@include translateY(-40.1%);
					#item3 {
						opacity:1;
					}
				}
			}
			&[data-item="4"] {
				svg, .svg {
					/* @include translateY(-(1199/$svgHeight*100) + %); */
					@include translateY(-51%);
					#item4 {
						opacity:1;
					}
				}
			}
			&[data-item="5"] {
				svg, .svg {
					/* @include translateY(-(1403/$svgHeight*100) + %); */
					@include translateY(-59.7%);
					#item5 {
						opacity:1;
					}
				}
			}
			&[data-item="6"] {
				svg, .svg {
					/* @include translateY(-(1740 /$svgHeight*100) + %); */
					@include translateY(-74%);
					#item6 {
						opacity:1;
					}
				}
			}
			&[data-item="7"] {
				svg, .svg {
					/* @include translateY(-(1941/$svgHeight*100) + %); */
					@include translateY(-82.55%);
					#item7 {
						opacity:1;
					}
				}

				.arrow.down {
					display:none;
				}
			}


			.arrow {
				@include writeResponsive(width,127px,127px, height,64px,64px);
				position:absolute;
				left:50%;
				cursor:pointer;
				@include noSelect();

				&.up {
					top:$rs8;
					@include translateXYR(-50%,0,0);
				}
	
				&.down {
					bottom:$rs8;
					@include translateXYR(-50%,0,180deg);
				}
			}
		}
		
		.lower {
			float:left;
			width:100%;
			padding-top:$rs80;
			position:relative;
			@include border-box();
		
			.col-full{
				width:100%;
				padding-bottom:$rs30;
				p {
					margin-bottom:$rs16;
				}
			}

			.col-left {
				float:left;
				width:65%;
				padding-right:$rs80;
				@include border-box();

				p {
					margin-bottom:$rs16;
				}
			}

			.col-right {
				float:right;
				width:35%;
				padding:$rs30;
				background-color:#f0dfa6;
				@include translateY(-$rs30);
				@include border-box();
				
				p {
					font-weight:$font-weight-bold;
				}

				img {
					width:100%;
					margin-top:$rs30;
				}
			}

			@media #{$sm-md-only} {
				//display:inline-block;
				padding-top:$rs30;
				//flex-wrap: wrap;
				
				.col-left {
					width:100%;
					padding-right:0;
					padding-bottom:$rs30;
				}

				.col-right {
					margin-top:2rem;
					width:100%;
				}
			}
		}
	}
}

/* end of knowledge hub block */