/* Start of policies type pages block */

.container[data-ref="policy"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#f1d9b9;

	.inner-fix {
		padding-left:$rs60;
		@include border-box();
		
		@media #{$sm-md-only} {
			padding-left:0;
		}

		.panel {
			background-color:$white;
			padding:$rs80;
			@include border-box();

			@media #{$sm-md-only} {
				padding:$rs40;
			}

			h1 {
				width:100%;
				@include font-size(30,30);
				font-weight:$font-weight-bold;
				margin-bottom:$rs30;
			}
				
			h2 {
				margin-top:$rs30;
				@include font-size(22,22);
				margin-bottom:0;
			}

			p {
				margin-bottom:$rs30;
			}

			ol, ul {
				padding-left:$rs30;
				margin-bottom:$rs30;

				li {
					@include font-size(22,24);
				}
			}

			ol li {
				margin-bottom:$rs16;
			}

			.cookie-table {
				border:1px $black solid;

				tr {
					th, td {
						padding:$rs16;
						@include font-size(22,22);
						border:1px $black solid;
					}

				}
			}
		}
		
	}
}

/* End of policies type pages block */