
/* Start of product block */

.container.product {
	@include writeResponsive(padding-bottom,100px,78px);

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);
	}

	.newrow {
		@include float-both();
		width:100%;
	}

	.col {
		float:left;
		width:50%;
		@include border-box();

		&.odd {
		    padding-right:$rs26;
		}

		&.even {
		    padding-left:$rs26;
		}

		.inner {
			@include wh(100%);
			position:relative;
		}

		&.product-image {
			@include writeResponsive(height,925px,925px);
			position:relative;

			.slick-products {
				.slick-dots {
					bottom:20%;
				}
			}

			.slick-arrow {
				position:absolute;
				top:50%;
				@include translateY();
				z-index:50;
				cursor:pointer;

				.arrow {
					width:$rs40;
					height:$rs80;
				}

				&.left {
					left:1rem;
					@include translateXYR(0,-50%,180deg);
				}

				&.right {
					right:1rem;
				}
			}

			img {
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			}

			.h2 {
				display:none;
				position:absolute;
				text-align:left;
				top:0;
				@include translateXY(-$rs30,-50%);
			}

			.btn {
				position:absolute;
				left:50%;
				bottom:$rs60;
				width:auto;
				@include translateX();
				@include noSelect();
			}

			.button-switcher {
				.btn {
					display:none;
				}

				&[data-show="25"] {
					.btn[data-btn="25"] {
						display:block;
					}
				}

				&[data-show="10"] {
					.btn[data-btn="10"] {
						display:block;
					}
				}
			}
		}

		&.product-description {
			.inner {
				.h2 {
					text-align:left;
					padding:$rs30 0 $rs60 0;
					@include translateX(-$rs60*2);
				}

				.box {
					width:100%; height:100%;
					@include border-box();
					padding:$rs30;
				}

				p {
					text-align:left;
					@include font-size(20,24);
					font-weight:$font-weight-semibold;

					&.intro {
						@include font-size(30,36);
						font-weight:$font-weight-bold;
						margin-bottom:$rs50;
					}

					&.themed {
						@include font-size(22,24);
					}

					&.review {
						@include font-size(18,18);
					}
				}

				ul {
					padding-left:$rs20;

					li {
						text-align:left;
						@include font-size(22,24);
						font-weight:$font-weight-bold;
						margin-bottom:$rs14;
					}
				}
			}
		}

		&.faqs {
			.inner {
				padding:$rs30;
				@include border-box();

				h3 {
					@include font-size(30,30);
					text-align:left;
				}

				ul {
					list-style:none;

					li {
						text-align:left;
						padding:$rs24 0;
						cursor:pointer;
						position:relative;

						.plus,
						.minus {
							position:absolute;
							top:$rs28; right:0;
							@include wh($rs40);
							@include transition-this(opacity,0.1s);
						}

						.minus {
							@include opacity(0);
						}

						h5 {
							padding-right:$rs50;
							padding-bottom:0;
							@include transition-this();
							min-height:2rem;
						}

						.reveal {
							width:100%;
							height:auto;
							max-height:0;
							overflow:hidden;
							@include transition-this();

							p {
								margin-bottom:1rem;
							}
						}
					}

					// We allow for up to 5 FAQs
					@for $i from 1 through 5 {
						&[data-reveal="#{$i}"] {
							li[data-id="#{$i}"] {
								h5 {
									padding-bottom:$rs24;
								}

								.reveal {
									max-height:1000px;
								}

								.minus {
									@include opacity(1);
								}

								.plus {
									@include opacity(0);
								}
							}
						}
					}
				}
			}
		}

		&.how-to-use {
			.inner {
				padding:$rs30;
				@include border-box();

				@media #{$sm-md-only} {
					padding:0 $rs30;
				}

				h3 {
					@include font-size(30,30);
					text-align:left;
				}

				ul.node {
					list-style:none;

					& > li {
						text-align:left;
						padding:$rs24 0;
						cursor:pointer;
						position:relative;

						.arrow {
							position:absolute;
							top:$rs18; right:0;
							@include wh($rs40);
							@include transition-this();
						}

						h5 {
							padding-right:$rs50;
							padding-bottom:0;
							@include transition-this();
							min-height:2rem;
						}

						.reveal {
							width:100%;
							height:auto;
							max-height:0;
							overflow:hidden;
							@include transition-this();

							h5{
								margin-bottom:1rem;
								padding-bottom:0;
							}
							p {
								margin-bottom:1rem;
							}
							ul{
								list-style-type:disc;
								padding-left:1.5rem;
								& >li{
									margin-bottom:1rem;	
									font-size:1.375rem;	
								}
							}
						}
					}

					// We allow for up to 5 FAQs
					@for $i from 1 through 5 {
						&[data-reveal="#{$i}"] {
							& > li[data-id="#{$i}"] {
								h5 {
									padding-bottom:$rs24;
								}

								.reveal {
									max-height:1000px;
									h5{
										padding-bottom:0;
									}
								}

								.arrow {
									@include rotate(90deg);
								}
							}
						}
					}
				}
			}
		}

		// MEDIA QUERIES

		@media #{$sm-md-only} {
			width:100%;
			margin-top:$rs60;

			&.odd {
			    padding-right:0;
			}

			&.even {
			    padding-left:0;
			}

			&.product-image {
				margin-top:$rs90;

				.h2 {
					display:block;
				}
			}

			&.product-description {
				.inner {
					.h2 {
						display:none;
					}
				}
			}
		}
	}
}
/* end of product block */

/* start of dr-sara quote block */

.container.dr-sara {
	@include writeResponsive(padding-bottom,100px,78px);

	.inner-fix {
		padding-left:$rs60*2;
		@include border-box();
	}

	.text {
		text-align:left;
		padding:$rs60 $rs60 $rs60 ($rs50 * 6);
		position:relative;

		q {
			display:inline-block;
			width:100%;
		}

		cite {
			display:inline-block;
			width:100%;
			font-weight:bold;
			margin-top:1rem;
			font-style: normal;
		}

		.box {
			position:absolute;
			left:0; top:0;
			padding:$rs16 $rs20;


			@include writeResponsive(width,240px,200px, height,240px,200px);

			@include translateXY(-$rs50,-$rs50);
		}
	}

	@media #{$sm-md-only} {
		.inner-fix {
			padding-left:0;
		}

		.text {
			padding:($rs20 * 11) $rs40 $rs40 $rs40;
		}
	}
}

/* end of dr-sara quote block */

// theming

@mixin writeProductColors($slug,$pcol1,$pcol2,$pcol3) {
	.container.product[data-ref="#{$slug}"] {
		background-color:$pcol3;
		.col {
			&.product-image {
				.inner {
					background-color:$pcol1;

					.h2 {
						color:$pcol2;
					}

					.btn {
						border-color:$pcol2;

						&:hover {
							background-color:$pcol2;
							color:$pcol1;
						}
					}

					.slick-products {
						.slick-dots li {
							button:before {
								color:$pcol2;
							}

							&.slick-active {
								button:before {
									color:$black;
								}
							}
						}
					}

					.slick-arrow {
						.arrow {
							path {
								fill: $pcol2;
							}
						}
					}
				}
			}

			&.product-description {
				.inner {
					.h2 {
						color: $pcol2;
					}

					.box {
						border:2px $pcol1 solid;
					}

					p {
						&.intro,
						&.themed,
						&.review,
						&.review a {
							color: $pcol2;
						}
					}
					

					ul {
						li {
							color: $pcol2;
						}
					}
				}
			}

			&.faqs {
				.inner {
					background-color:$pcol1;

					h3 {
						color: $pcol2;
					}

					ul {
						li {
							border-bottom:2px $pcol2 solid;

							.plus,
							.minus {
								path {
									fill:$pcol2;
								}
							}
						}
					}
				}
			}

			&.how-to-use {
				.inner {
					& > ul {
						& > li {
							border-bottom:2px $pcol2 solid;

							.arrow {
								path {
									fill:$pcol2;
								}
							}
						}
					}
				}
			}
		}
	}
}

@mixin writeDrSaraColors($slug,$pcol1,$pcol2,$pcol3) {
	.container.dr-sara[data-ref="dr-sara-#{$slug}"] {
		.text {
			background-color:$pcol1;

			q, cite, .box {
				color:$pcol2;
			}

			.box {
				border:2px $pcol2 solid;
			}
		}
	}
}
/*
data-ref="odour-eliminating-gel" -> 'odour-eliminating-gel'
1 product pack shot background colour
2 heading/text colour
3 page background colour
@include writeProductColors([data-ref],[1],[2],[3]);
*/
@include writeProductColors('active-fresh-wash',#d4e9f7,#5e9fd7,$shade21);
@include writeProductColors('daily-intimate-wash',#e7bf8b,#d08017,#faf2e7);
@include writeProductColors('pure-wash',#e1eeca,$shade5,$shade22);
@include writeProductColors('soothing-wash',#e7bed1,#d07da3,$shade20);
@include writeProductColors('wipes',#e2d9e6,#b8a3c7,$shade23);
@include writeProductColors('shave-balm',#f7efd2,#826a4e,#fdfaf2);
@include writeProductColors('shave-cream',#f7efd2,#826a4e,#fdfaf2);
@include writeProductColors('active-fresh-deodorant',#d4e9f7,#5e9fd7,$shade21);
@include writeProductColors('freshness-deodorant',#e7bf8b,#d08017,#faf2e7);
@include writeProductColors('re-balance-powder',#e7bf8b,#d08017,#faf2e7);

@include writeProductColors('external-comfort-gel',#d5e9f8,#5d9fd7,#f2f8fd);
@include writeProductColors('odour-eliminating-gel',#e8bfd3,#d07da3,#f8ecf1);

@include writeDrSaraColors('active-fresh-wash',#d4e9f7,#5e9fd7,$shade21);
@include writeDrSaraColors('daily-intimate-wash',#e7bf8b,#d08017,#faf2e7);
@include writeDrSaraColors('pure-wash',#e1eeca,$shade5,$shade22);
@include writeDrSaraColors('soothing-wash',#e7bed1,#d07da3,$shade20);
@include writeDrSaraColors('wipes',#eee6ef,#b8a3c7,$shade23);
@include writeDrSaraColors('shave-balm',#f7efd2,#826a4e,#fdfaf2);
@include writeDrSaraColors('shave-cream',#f7efd2,#826a4e,#fdfaf2);
@include writeDrSaraColors('active-fresh-deodorant',#d4e9f7,#5e9fd7,$shade21);
@include writeDrSaraColors('freshness-deodorant',#e7bf8b,#d08017,#faf2e7);
@include writeDrSaraColors('re-balance-powder',#e7bf8b,#d08017,#faf2e7);


.container.product[data-ref=external-comfort-gel],
.container.product[data-ref=odour-eliminating-gel]{
	.col{
		&.product-description, &.product-image{
			.inner{
				.h2 {
				    font-size:3rem;
				    line-height:3.2rem;
				    @media only screen and (min-width: 0) and (max-width: 960px){
				    	&{
						    font-size:3rem;
						    line-height:3.2rem;
				    	}
				    }

			   	}
			}
		}
	}
	.slick-dots{
		display:flex;
		justify-content:center;
		li{
			margin:0;
			button{
				margin:0;
				width:8px;
				height:8px;
				border:0px;
				border-radius:4px;
				padding:0;
				background-color:#b8d7f0;
			}
			&.slick-active{
				button{
					background-color:#5d9fd7;
				}
			}
		}
	}
}

.productSlick{
	width:80%;
	margin:0 auto;
	.column{
		width:100%;
		display:inline-block;
		float:left;
		img{
			width:100%;
		}
	}
}
