/* Start of policies type pages block */

.container[data-ref="interactive-quiz"] {
	margin-top:$rs36;
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#fcf7f2;

	.inner-fix {
		padding-top:$rs60;

		@media #{$sm-md-only} {
			padding-top:0;
		}

		h1 {
			padding-left:$rs60;
			@include translateY($rs28);
			z-index:2;
			position:relative;

			.p1 {
				display:none;
			}

			.p2 {
				@include font-size(200,200);
				color:#e5b283;
				font-family:$font-family-gotham;
			}

			height:auto;
			max-height:0;
			overflow:hidden;

			&[data-state="0"] {
				max-height:280px;

				.p1 {
					display:block;
				}
			}

			@media #{$sm-md-only} {
				padding-left:0;
				padding-top:$rs90;
				@include translateY($rs20);

				.p1 {
					position:absolute;
					left:$rs80; top:$rs30;
				}

				.p2 {
					@include font-size(130,130);
				}
			}
		}

		#game {
			width:100%;
			@include writeResponsive(height,745px,990px);
			position:relative;
			padding:$rs60;
			@include border-box();
			z-index:1;
			@include opacity(0);
			@include transition-this(all,0.2s,linear);
			overflow:hidden;

			&.ready {
				@include opacity(1);
			}

			$gColOrange: #efd1b5;
			$gColYellow: #f6ecca;
			$gColGreen: #dae8ba;
			$gColBlue: #d9e6e7;
			$gColPurple: #e0d6e1;
			$gColPeach: #f6d1cc;
			$gColOrange2: #f4d2b7;
			$gColYellow2: #f5e8c4;
			$gColGreen2: #dcebbf;
			$gColBlue2: #dae9ec;
			$gColPurple2: #e0d6e1;
			$gColPeach2: #f6d1cc;
			$gColOrange3: #f5d5bc;
			$gColYellow3: #f5e9c4;
			$bgCount: 13;

			#bgs {
				position:absolute;
				left:0; top:0;
				width:100% * $bgCount;
				height:100%;
				z-index:50;
				@include transition-this(left,0.2s,linear);

				.bg {
					width:(100% / $bgCount);
					height:100%;
					float:left;

					&[data-id="0"] {@include hor_gradient($gColOrange,$gColYellow);}
					&[data-id="1"] {@include hor_gradient($gColYellow,$gColGreen);}
					&[data-id="2"] {@include hor_gradient($gColGreen,$gColBlue);}
					&[data-id="3"] {@include hor_gradient($gColBlue,$gColPurple);}
					&[data-id="4"] {@include hor_gradient($gColPurple,$gColPeach);}
					&[data-id="5"] {@include hor_gradient($gColPeach,$gColOrange2);}
					&[data-id="6"] {@include hor_gradient($gColOrange2,$gColYellow2);}
					&[data-id="7"] {@include hor_gradient($gColYellow2,$gColGreen2);}
					&[data-id="8"] {@include hor_gradient($gColGreen2,$gColBlue2);}
					&[data-id="9"] {@include hor_gradient($gColBlue2,$gColPurple2);}
					&[data-id="10"] {@include hor_gradient($gColPurple2,$gColPeach2);}
					&[data-id="11"] {@include hor_gradient($gColPeach2,$gColOrange3);}
					&[data-id="12"] {@include hor_gradient($gColOrange3,$gColYellow3);}
				}
			}

			@media #{$lg-up} {
				// Intro
				&[data-state="0"] {
					#bgs {left:0;}
				}
				// Question 1
				&[data-state="1"],
				&[data-state="2"] {
					#bgs {left:100% * -1;}
				}
				// Question 2
				&[data-state="3"],
				&[data-state="4"] {
					#bgs {left:100% * -2;}
				}
				// Question 3
				&[data-state="5"],
				&[data-state="6"] {
					#bgs {left:100% * -3;}
				}
				// Question 4
				&[data-state="7"],
				&[data-state="8"] {
					#bgs {left:100% * -4;}
				}
				// Question 5
				&[data-state="9"],
				&[data-state="10"] {
					#bgs {left:100% * -5;}
				}
				// Question 6
				&[data-state="11"],
				&[data-state="12"] {
					#bgs {left:100% * -6;}
				}
				// Question 7
				&[data-state="13"],
				&[data-state="14"] {
					#bgs {left:100% * -7;}
				}
				// Question 8
				&[data-state="15"],
				&[data-state="16"] {
					#bgs {left:100% * -8;}
				}
				// Question 9
				&[data-state="17"],
				&[data-state="18"] {
					#bgs {left:100% * -9;}
				}
				// Question 10
				&[data-state="19"],
				&[data-state="20"] {
					#bgs {left:100% * -10;}
				}
				// Question 11
				&[data-state="21"],
				&[data-state="22"] {
					#bgs {left:100% * -11;}
				}

				&[data-state="23"] {
					#bgs {left:100% * -12;}
				}
			}


			@media #{$sm-md-only} {
				padding:$rs40;

				#bgs {
					width:100%;
					height:100% * $bgCount;
					@include transition-this(top,0.2s,linear);

					.bg {
						width:100%;
						height:(100% / $bgCount);

						&[data-id="0"] {@include ver_gradient($gColOrange,$gColYellow);}
						&[data-id="1"] {@include ver_gradient($gColYellow,$gColGreen);}
						&[data-id="2"] {@include ver_gradient($gColGreen,$gColBlue);}
						&[data-id="3"] {@include ver_gradient($gColBlue,$gColPurple);}
						&[data-id="4"] {@include ver_gradient($gColPurple,$gColPeach);}
						&[data-id="5"] {@include ver_gradient($gColPeach,$gColOrange2);}
						&[data-id="6"] {@include ver_gradient($gColOrange2,$gColYellow2);}
						&[data-id="7"] {@include ver_gradient($gColYellow2,$gColGreen2);}
						&[data-id="8"] {@include ver_gradient($gColGreen2,$gColBlue2);}
						&[data-id="9"] {@include ver_gradient($gColBlue2,$gColPurple2);}
						&[data-id="10"] {@include ver_gradient($gColPurple2,$gColPeach2);}
						&[data-id="11"] {@include ver_gradient($gColPeach2,$gColOrange3);}
						&[data-id="12"] {@include ver_gradient($gColOrange3,$gColYellow3);}

					}
				}

				// Intro
				&[data-state="0"] {
					#bgs {top:0;}
				}
				// Question 1
				&[data-state="1"],
				&[data-state="2"] {
					#bgs {top:100% * -1;}
				}
				// Question 2
				&[data-state="3"],
				&[data-state="4"] {
					#bgs {top:100% * -2;}
				}
				// Question 3
				&[data-state="5"],
				&[data-state="6"] {
					#bgs {top:100% * -3;}
				}
				// Question 4
				&[data-state="7"],
				&[data-state="8"] {
					#bgs {top:100% * -4;}
				}
				// Question 5
				&[data-state="9"],
				&[data-state="10"] {
					#bgs {top:100% * -5;}
				}
				// Question 6
				&[data-state="11"],
				&[data-state="12"] {
					#bgs {top:100% * -6;}
				}
				// Question 7
				&[data-state="13"],
				&[data-state="14"] {
					#bgs {top:100% * -7;}
				}
				// Question 8
				&[data-state="15"],
				&[data-state="16"] {
					#bgs {top:100% * -8;}
				}
				// Question 9
				&[data-state="17"],
				&[data-state="18"] {
					#bgs {top:100% * -9;}
				}
				// Question 10
				&[data-state="19"],
				&[data-state="20"] {
					#bgs {top:100% * -10;}
				}
				// Question 11
				&[data-state="21"],
				&[data-state="22"] {
					#bgs {top:100% * -11;}
				}

				&[data-state="23"] {
					#bgs {top:100% * -12;}
				}
			}





			.game-state {
				@include wh(100%);
				@include opacity(0);
				@include transition-this(all,0.2s,linear);
				position:absolute;
				left:0; top:0;
				padding:$rs60;
				z-index:50;
				@include border-box();
				@include noSelect();

				p {
					font-weight:$font-weight-semibold;
				}

				h2 {
					text-transform:uppercase;
					@include font-size(100,100);
					//@include writeResponsive(letter-spacing,-5px,93px);
					font-family:$font-family-gotham;

					&.smaller {
						@include font-size(84,84);
					}

				}

				.button {
					position:absolute;
					right:$rs60;
					bottom:$rs60;
					@include writeResponsive(width,93px,78px, height,184px,154px);

					span {
						position:absolute;
						right:100%;
						top:50%;
						@include translateY();
						text-transform:uppercase;
						@include font-size(24,24);
						margin-right:$rs20;
						font-weight: $font-weight-semibold;
						z-index:2;
						pointer-events:none;
					}

					.arrow {
						position:absolute;
						right:0;bottom:0;
						cursor:pointer;
						z-index:1;
					}
				}

				&.question {
					p {
						@include font-size(64,64);
						font-weight:$font-weight-bold;
						margin-top:$rs40;
					}

					ul {
						position:absolute;
						left:0;
						bottom:$rs40;
						width:100%;
						padding:0 $rs60;
						@include border-box();
						list-style:none;
						display:flex;
						justify-content: space-between;

						li {
							text-transform:uppercase;
							text-align:center;
							width:28%;
							@include font-size(40,40);
							padding:$rs20 $rs10;
							font-weight:$font-weight-bold;
							cursor:pointer;
							background-color:#f0dfa6;

							&.selected {
								// background-color:#c4de95;
								background-color:#ffffff;
							}

							display:flex;
							justify-content: center;
							align-items: center;

							span {
								display:block;
							}
						}
					}
				}

				&.answer {
					h2 {
						@include writeResponsive(width,600px,null);
					}

					h3 {
						@include font-size(64,64);
						font-weight:$font-weight-bold;
						margin-top:$rs40;
						@include writeResponsive(width,400px,null);
					}

					p {
						margin-top:$rs50;
						@include writeResponsive(width,380px,null);
					}

					.diagram {
						position:absolute;
						top:$rs60 + $rs8; right:$rs70;
						@include writeResponsive(height,560px,null);
					}

					.button {
						span {
							right:0;
						}

						.arrow {
							path {
								fill:#e5b283;
							}
						}
					}
				}


				@media #{$sm-md-only} {
					padding:$rs40;

					h2 {
						@include font-size(64,64);

						&.smaller {
							@include font-size(60,60);
						}
					}

					.button {
						right:$rs40;
						bottom:$rs40;

						span {
							@include font-size(20,20);
						}
					}

					&.question {
						p {
							@include font-size(44,44);
						}

						ul {
							padding:0 $rs40;
							flex-direction: column;

							li {
								width:50%;
								margin-top:$rs20;
							}
						}
					}

					&.answer {
						h2 {
							@include font-size(80,80);
							width:100%;
						}

						h3 {
							@include font-size(44,44);
							width:100%;
							margin-top:$rs50;
						}

						p {
							@include font-size(20,20);
							margin-top:$rs30;
							width:100%;
						}

						.diagram {
							width:80%; height:auto;
							left:10%;
							top:auto;
							right:auto;
							bottom:$rs90;
						}
					}
				}

				&[data-state="0"] {
					p {
						@include writeResponsive(width,350px,null);
						position:absolute;
						left:$rs60; top:$rs60;
					}

					h2 {
						@include translateY(-$rs11);
						@include writeResponsive(left,450px,0px);
						@include writeResponsive(width,760px,null);
						color:#eeb990;
						position:absolute;
					}

					@media #{$sm-md-only} {
						p {
							position:relative;
							left:auto; top:auto;
							width:100%;
						}

						h2 {
							@include translateY(0);
							position:relative;
							left:auto; top:auto;
							margin-top:$rs80;
							width:100%;
						}
					}

					.button {
						.arrow {
							path {
								fill:#e5b283;
							}
						}
					}
				}
				// Question 1
				&[data-state="1"],
				&[data-state="2"] {
					h2 {
						color:#c4de95;
					}
				}
				// Question 2
				&[data-state="3"],
				&[data-state="4"] {
					h2 {
						color:#9ccef3;
					}
				}
				// Question 3
				&[data-state="5"],
				&[data-state="6"] {
					h2 {
						color:#ceb8ce;
					}
				}
				// Question 4
				&[data-state="7"],
				&[data-state="8"] {
					h2 {
						color:#f0b3aa;
					}
				}
				// Question 5
				&[data-state="9"],
				&[data-state="10"] {
					h2 {
						color:#eeb990;
					}
				}
				// Question 6
				&[data-state="11"],
				&[data-state="12"] {
					h2 {
						color:#eeb185;
					}
				}
				// Question 7
				&[data-state="13"],
				&[data-state="14"] {
					h2 {
						color:#c4d274;
					}
				}
				// Question 8
				&[data-state="15"],
				&[data-state="16"] {
					h2 {
						color:#9ccef3;
					}
				}
				// Question 9
				&[data-state="17"],
				&[data-state="18"] {
					h2 {
						color:#ceb8d2;
					}
				}
				// Question 10
				&[data-state="19"],
				&[data-state="20"] {
					h2 {
						color:#f0b3aa;
					}
				}
				// Question 11
				&[data-state="21"],
				&[data-state="22"] {
					h2 {
						color:#eeb77c;
					}
				}

				&[data-state="23"] {

					.col {
						width:50%;
						float:left;

						h2 {
							color:#eea278;
						}

						p.result {
							@include font-size(45,48);
							font-weight:$font-weight-bold;
						}

						p.score {
							@include font-size(72,72);
							margin-top:$rs70;
						}

						p.average {
							@include font-size(42,42);
						}

						p.score,
						p.average {
							font-weight:$font-weight-bold;
							text-transform:uppercase;

							span {
								color:#c40079;
							}
						}
					}

					.score-text {
						p {
							display:none;
							@include font-size(20,24);
							font-weight:$font-weight-semibold;
							margin-top:$rs70;
						}

						&[data-score="0"],
						&[data-score="1"],
						&[data-score="2"],
						&[data-score="3"],
						&[data-score="4"] {
							p.result-0-4 {
								display:block;
							}
						}

						&[data-score="5"],
						&[data-score="6"],
						&[data-score="7"],
						&[data-score="8"] {
							p.result-5-8 {
								display:block;
							}
						}

						&[data-score="9"],
						&[data-score="10"],
						&[data-score="11"],
						&[data-score="12"] {
							p.result-9-12 {
								display:block;
							}
						}
					}

					.outcome-buttons {
						position:absolute;
						left:$rs60; right:$rs60;
						bottom:$rs60;
						display:flex;
						justify-content: space-between;

						.ob {
							display:block;
							padding-right:$rs60;
							@include font-size(26,26);
							font-weight:$font-weight-bold;
							text-transform:uppercase;
							cursor:pointer;
							position:relative;
							@include border-box();

							.arrow {
								position:absolute;
								right:0;
								top:50%;
								@include translateY();
								@include writeResponsive(width,46px,46px, height,50px,50px);

								path {
									fill:#e5b283;
								}
							}
						}
					}

					@media #{$sm-md-only} {
						.col {
							width:100%;

							h2 {
								@include font-size(80,88);
							}

							p.result {
								@include font-size(40,44);
								margin-top:$rs30;
							}

							p.score {
								@include font-size(72,72);
								margin-top:$rs30;
							}

							p.average {
								@include font-size(42,42);
								margin-top:$rs30;
							}
						}

						.score-text {
							p {
								@include font-size(20,24);
								margin-top:$rs30;
							}
						}

						.outcome-buttons {
							left:$rs40; right:$rs40;
							bottom:$rs20;
							flex-wrap: wrap;

							.ob {
								margin-bottom:$rs30;
							}
						}
					}

					@media #{$sm-only} {
						.score-text {
							p {
								@include font-size(24,28);

							}
						}
					}

				}


				.diagrams {
					position:absolute;
					left:0; top:0; right:0; bottom:0;
					padding:$rs90 $rs60;
					@include border-box();

					@media #{$lg-up} {
						@include hor_gradient(#f7e7ee,#f5d5bc);
					}

					@media #{$sm-md-only} {
						@include ver_gradient(#f7e7ee,#f5d5bc);
					}

					display:none;

					&.visible {
						display:block;
					}

					img.diagram {
						float:left;
						width:50%;
					}

					img.bClose {
						position:absolute;
						top:0; right:0;
						@include wh($rs90);
						cursor:pointer;
						@include opacity(0.5);
						@include transition-this();

						&:hover {
							@include opacity(0.75);
						}
					}

					@media #{$sm-md-only} {
						img.diagram {
							width:80%;
							margin-left:10%;
							margin-bottom:$rs60;
							//height:50%;
						}
					}
				}
			}


			// Control the visibilities of the game states
			@for $i from 0 through 30 {
				&[data-state="#{$i}"] {
					.game-state[data-state="#{$i}"] {
						z-index:100;
						@include opacity(1);
					}
				}

			}
		}



	}
}
