/* Start of support/contact block */

/*
.container[data-ref="contact"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:#f1d9b9;

	.inner-fix {
		@include writeResponsive(padding-top,50px,36px);

		padding-left:$rs60;
		@include border-box();

		@media #{$sm-md-only} {
			padding-left:0;
		}

		.form {
			@include float-both();
			width:100%;
			padding:$rs80;
			@include border-box();
			background-color:$white;
			margin-bottom:$rs80;

			.h2 {
				@include font-size(132,132);
				font-family: $font-family-gotham;
				position:absolute;
				left:$rs30; top:-$rs10;
			}

			h2, .h2, h3 {
				color:$shade15;
			}

			.intro {
				width:100%;
				display:flex;
				padding-bottom:$rs30;

				p {

					font-weight:$font-weight-semibold;

					&.col1 {
						width:60%;
						font-weight:$font-weight-bold;
						color:$shade15;
						padding-right:$rs80;
						@include border-box();
					}

					&.col2 {
						width:40%;
						color:$shade15;
					}
				}
			}

			@media #{$sm-md-only} {
				padding:$rs80 $rs30 $rs30 $rs30;

				.h2 {
					@include font-size(100,100);
					left:$rs20;
				}

				.intro {
					display:inline-block;

					p.col1, p.col2 {
						width:100%;
						margin-bottom:$rs30;
					}
				}
			}

			.formRow {

				@include float-both();
				width:100%;
				margin-bottom:$rs16;

				label {
					float:left;
					width:40%;
					color:$black;
					text-align:left;
					@include border-box();
					padding:$rs12 0;
					@include font-size(24,30);

					@media #{$sm-md-only} {
						width:100%;
					}
				}

				.input {
					float:left;
					width:60%;
					@include border-box();
					border:1px $grey1 solid;
					padding:$rs8 $rs16;
					@include font-size(24,30);
					color:$grey1;
					font-family: $font-family-normal;

					&.short {
						width:200px;
					}

					@media #{$sm-md-only} {
						width:100%;
					}
				}

				.error {
					@include float-both();
					color:$grey1;
					width:100%;
					@include font-size(20,20);
					@include border-box();
					padding-left:40%;
					margin-top:$rs8;
					text-align:left;


					@media #{$sm-md-only} {
						padding-left:0;
					}
				}

				textarea {
				    resize: none;
				}

				.btn {
					float:right;
					//margin-left:40%;
					color:$shade15;
					border-color:$shade15;
					background-color:transparent;
					cursor:pointer;

					&:hover {
						background-color:$shade15;
						color:$white;
					}

					// @media #{$sm-md-only} {
					// 	margin-left:0;
					// }
				}
			}
		}
	}
}
*/

/**/
.container[data-ref="contact"] {
    padding-bottom: 100px;
    background-color: #f1d9b9;

    @media only screen and (min-width: 1151px) and (max-width:1460px) {
        &{
            padding-bottom:75px;
        }
    }

    @media only screen and (min-width: 961px) and (max-width:1150px) {
        &{
            padding-bottom:60px;
        }
    }

    @media only screen and (min-width: 701px) and (max-width:960px) {
        &{
            padding-bottom:78px;
        }
    }

    @media only screen and (min-width: 0) and (max-width:700px) {
        &{
            padding-bottom:39px;
        }
    }

    .inner-fix {
        padding-top: 50px;
        padding-left: 3.75rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @media only screen and (min-width: 1151px) and (max-width:1460px) {
            &{
                padding-top:37.5px;
            }
        }

        @media only screen and (min-width: 961px) and (max-width:1150px) {
            &{
                padding-top:30px;
            }
        }

        @media only screen and (min-width: 701px) and (max-width:960px) {
            &{
                padding-top:36px;
            }
        }

        @media only screen and (min-width: 0) and (max-width:700px) {
            &{
                padding-top:18px;
            }
        }

        @media only screen and (min-width: 0) and (max-width:960px) {
            &{
                padding-left:0;
            }
        }

        .form {
            float: left;
            clear: both;
            width: 100%;
            padding: 5rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #FFFFFF;
            margin-bottom: 5rem;

            .h2,
            h2,
            h3 {
                color: #d27839;
            }

            .h2 {
                font-size: 132px;
                font-size: 8.25rem;
                line-height: 132px;
                line-height: 8.25rem;
                font-family: "Montserrat", "Open Sans", sans-serif;
                position: absolute;
                left: 1.875rem;
                top: -0.625rem;
            }

            p.mandatory {
                width: 100%;
                margin: 0 0 10px 0;
                text-align: left;
                line-height: 2rem;
                span {
                    color: #f00;
                }
            }

            .intro {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding-bottom: 1.875rem;

                p {
                    font-weight: 600;

                    &.col1 {
                        width: 45%;
                        font-weight: 700;
                        color: #000;
                        padding-right: 5rem;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        line-height: 140%;
                    }

                    &.col2 {
                        width: 40%;
                        color: #000;
                        line-height: 140%;
                    }
                }
                h2.col0 {
                    color: #000;
                    font-size: 1.375rem;
                    line-height: 24px;
                    line-height: 1.5rem;
                    margin: 0;
                    float: left;
                    width: 15%;

                    @media only screen and (min-width: 0) and (max-width:960px) {
                        &{
                            float:none;
                            clear: both;
                            margin-bottom: 1em;
                            width: 100%;
                        }
                    }
                }

                &.twoCol{
                    &:after {
                        content: ' ';
                        display: block;
                        float: none;
                        clear: both;
                    }

                    p {
                        display: block;
                        width: 100%;
                        text-align: left;
                        vertical-align: top;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 0 10px;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }
                    .rc {
                        font-weight: normal;
                    }
                }

                @media (min-width: 961px) {
                    &{
                        p {
                            display:inline-block;
                            float: left;
                            clear: none;
                            width: 50%;
                            text-align: left;
                            vertical-align: top;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 0 10px;
                            font-size: 1.2rem;
                        }

                        .rc {
                            font-weight: normal;
                        }

                        &:after {
                            content: ' ';
                            display: block;
                            float: none;
                            clear: both;
                        }
                    }
                }

                /* .intro end */
            }

            @media only screen and (min-width: 0) and (max-width:960px) {
                & {
                    padding:5rem 1.875rem 1.875rem 1.875rem;
                    .h2 {
                        font-size: 100px;
                        font-size: 6.25rem;
                        line-height: 100px;
                        line-height: 6.25rem;
                        left: 1.25rem;
                    }
                    .intro {
                        display: inline-block;
                        p.col1,
                        p.col2 {
                            width: 100%;
                            margin-bottom: 1.875rem;
                        }
                    }
                }
            }

            .formRow {
                float: left;
                clear: both;
                width: 100%;
                margin-bottom: 1rem;

                label {
                    float: left;
                    width: 40%;
                    color: #000000;
                    text-align: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 0.75rem 0;
                    font-size: 24px;
                    font-size: 1.5rem;
                    line-height: 30px;
                    line-height: 1.875rem;

                    @media only screen and (min-width: 0) and (max-width:960px) {
                        &{
                            width:100%;
                        }
                    }
                }

                p.infonote {
                    margin: 0 0 0 40%;
                    text-align: left;
                    font-size: 0.9em;

                    @media only screen and (min-width: 0) and (max-width:960px) {
                        &{
                            margin-left:0%;
                        }
                    }
                }

                .input {
                    float: left;
                    width: 60%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 1px #a6a6a6 solid;
                    padding: 0.5rem 1rem;
                    font-size: 24px;
                    font-size: 1.5rem;
                    line-height: 30px;
                    line-height: 1.875rem;
                    color: #a6a6a6;
                    font-family: "Open Sans", sans-serif;

                    &.short {
                        width: 200px;
                    }

                    @media only screen and (min-width: 0) and (max-width:960px) {
                        &{
                            width:100%;
                        }
                    }
                }

                .error {
                    float: left;
                    clear: both;
                    color: #a6a6a6;
                    width: 100%;
                    font-size: 20px;
                    font-size: 1.25rem;
                    line-height: 20px;
                    line-height: 1.25rem;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding-left: 40%;
                    margin-top: 0.5rem;
                    text-align: left;

                    @media only screen and (min-width: 0) and (max-width:960px) {
                        &{
                            padding-left:0;
                        }
                    }
                }

                textarea {
                    resize: none;
                }

                .btn {
                    float: right;
                    color: #d27839;
                    border-color: #d27839;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        background-color: #d27839;
                        color: #FFFFFF;
                    }

                    &[disabled=disabled] {
                        cursor: default;
                        opacity: 0.5;
                        color: #7f7f7f;
                        border-color: #7f7f7f;
                        background-color: #fff;

                        &:hover {
                            color: #7f7f7f;
                            border-color: #7f7f7f;
                            background-color: #fff;
                        }
                    }
                }

                &.has-error{
                    label {
                        color: #f00;
                    }
                    small.error {
                        color: #000;
                        font-style: italic;
                    }
                    input[type=text],
                    select,
                    textarea {
                        border: 1px solid red;
                    }
                }

                &.checkbox {
                    padding-left: 40%;

                    @media only screen and (min-width: 0) and (max-width:960px) {
                        &{
                            padding-left:0%;
                        }
                    }

                    label {
                        float: left;
                        width: auto;
                        margin: 0;
                        padding: 0;
                        display: inline-block;

                        @media only screen and (min-width: 0) and (max-width:960px) {
                            &{
                                padding-left:10px;
                                width: 90%;
                            }
                        }
                    }
                    input {
                        float: left;
                        width: auto;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    small.error {
                        padding-left: 0;
                    }

                }

                /* .formRow end */
            }

            /* .form end */
        }

        /* .inner-fix end */
    }

    /* .container[data-ref=contact] end */
}

.conditionals.hide {
    display: none
}

/**/

/* end of support/contact block */
