/* Start of about block */

$video1BG: #feddc8;
$video2BG: #cde5f7;
$video3BG: #fce1e7;
$video4BG: #e6f4d8;
$video5BG: #f1e8f2;

$video1UI: #d0712f;
$video2UI: #6aace0;
$video3UI: #d993b3;
$video4UI: #68986e;
$video5UI: #be93c1;

.container[data-ref="she-talks-header"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:$shade24;

	.shim-desktop,
	.shim-mobile {
		float:left;
		width:100%; height:auto;
	}

	@media #{$sm-md-only} {
		.shim-desktop {
			display:none;
		}
	}

	@media #{$lg-up} {
		.shim-mobile {
			display:none;
		}
	}

	.head {
		overflow:hidden;
		position:relative;
	}

	.header {
		position:absolute;
		top:0; height:100%;

		&.layer-1 {
			right:0;
		}
		&.layer-2 {
			right:0;
		}
		&.layer-3 {
			@include writeResponsive(left,0px,-100px);
		}
	}

	.header-logo {
		position:absolute;
		left:$rs36; top:$rs50;
		@include writeResponsive(width,376px,320px,height,189px,161px);
	}

	p {
		position:absolute;
		@include writeResponsive(left,45px,26px,top,270px,250px);
		@include writeResponsive(width,300px,260px,height,150px,120px);
		@include font-size(24,24);
		font-weight:$font-weight-semibold;
		color:$video2UI;
		text-align:left;

		@media #{$sm-md-only} {
			@include font-size(24,24);
		}
	}

	.btn {
		color:$video2UI;
		border-color:$video2UI;
		position:absolute;
		@include writeResponsive(left,45px,26px,top,390px,373px);
		@include font-size(22,22);

		&:hover {
			background-color:rgba(255,255,255,1);
		}

		@media #{$sm-md-only} {
			@include font-size(16,16);
		}
	}
}

.container[data-ref="she-talks-intro"] {
	@include writeResponsive(padding-bottom,100px,78px);
	background-color:$shade25;

	.nush-intro {
		display:flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding-top:$rs50*2;

		@media #{$sm-md-only} {
			flex-wrap:wrap;
		}

		.nush-image {
			@include writeResponsive(width,480px,350px);
			position:relative;

			img {
				width:100%;
			}

			.block {
				flex:none;
				position:absolute;
				left:0; top:-$rs50*2;
				@include writeResponsive(width,425px,310px,height,425px,310px);
				background-color:rgba($video2UI,0.7);
				@include translateX(-82%);
				padding:$rs24;
				@include border-box();

				display:flex;
				flex-direction:column;
				justify-content: center;
				align-items: flex-start;

				text-align:left;

				

				h2 {
					@include font-size(68,72);
					font-weight:$font-weight-bold;

					@media #{$sm-md-only} {
						@include font-size(46,50);
					}
				}

				p {
					margin-top:$rs50;
					@include font-size(32,35);
					font-weight:$font-weight-semibold;

					@media #{$sm-md-only} {
						@include font-size(23,25);
					}
				}
			}
		}

		.nush-text {
			@include writeResponsive(width,390px,610px);
			padding-left:$rs50;
			text-align:left;

			p {
				margin-top:1rem;
				@include font-size(20,24);
				font-weight:$font-weight-semibold;

				span {
					font-weight:$font-weight-bold;
					color:$video2UI;
				}
			}

			@media #{$sm-md-only} {
				padding-left:0;
			}
		}
	}

}

.container[data-ref="video-player"] {
	@include writeResponsive(padding-bottom,100px,78px);
	@include transition-this(background-color);

	.shim {
		float:left;
		width:100%; height:auto;
	}

	#ytplayer {
		position:absolute;
		left:0; top:0;
		display:none;

	}

	.overlay {
		position:absolute;
		left:0; top:0;
		@include wh(100%);
		background-repeat:no-repeat;
		background-position: center center;
		background-size:cover;

		display:flex;
		justify-content:center;
		align-items:center;

		.bg {
			position:absolute;
			left:0; top:0;
			@include wh(100%);
			@include opacity(0);
			@include transition-this(opacity);
			z-index:2;
		}

		button {
			z-index:3;
			border:none;
			cursor:pointer;
			@include font-size(30,30);
			font-weight:$font-weight-bold;
			color:$white;
			padding:$rs22 $rs40;

			@media #{$sm-md-only} {
				@include font-size(24,24);
			}
		}

		.title {
			position:absolute;
			left:0; top:$rs20;
			z-index:4;

			.label {
				padding:$rs20 $rs60 $rs20 $rs40;
				font-weight: $font-weight-bold;
				text-align: left;
				@include font-size(40,40);

				@media #{$sm-md-only} {
					@include font-size(32,32);
				}

				span.light {
					@include opacity(0.5)
				}

				span.bar1 {
					position:absolute;
					left:100%; top:0; bottom:0;
					width:$rs32;
					@include transition-this(background-color);
				}

				span.bar2 {
					position:absolute;
					left:100%; top:0; bottom:0;
					width:$rs32;
					@include translateX($rs32);
					@include transition-this(background-color);
				}
			}
		}
	}

	&[data-status="paused"] {

	}

	&[data-status="playing"] {
		.overlay {
			display:none;
		}

		#ytplayer {
			display:block;
		}
	}

	&[data-playing-id="1"] {
		background-color:$video1BG;
		.overlay {
			.bg[data-id="1"] {
				@include opacity(1);
			}
			button {
				background-color:$video1UI;
			}
			.title {
				.label {
					color:$video1UI;
					background-color:$video1BG;
					span.bar1 {background-color:$video2BG;}
					span.bar2 {background-color:$video4BG;}
				}
			}
		}
		.vThumb[data-id="1"] {
			display:none;
		}
	}
	&[data-playing-id="2"] {
		background-color:$video2BG;
		.overlay {
			.bg[data-id="2"] {
				@include opacity(1);
			}
			button {
				background-color:$video2UI;
			}
			.title {
				.label {
					color:$video2UI;
					background-color:$video2BG;
					span.bar1 {background-color:$video1BG;}
					span.bar2 {background-color:$video4BG;}
				}
			}
		}
		.vThumb[data-id="2"] {
			display:none;
		}
	}
	&[data-playing-id="3"] {
		background-color:$video3BG;
		.overlay {
			.bg[data-id="3"] {
				@include opacity(1);
			}
			button {
				background-color:$video3UI;
			}
			.title {
				.label {
					color:$video3UI;
					background-color:$video3BG;
					span.bar1 {background-color:$video2BG;}
					span.bar2 {background-color:$video4BG;}
				}
			}
		}
		.vThumb[data-id="3"] {
			display:none;
		}
	}
	&[data-playing-id="4"] {
		background-color:$video4BG;
		.overlay {
			.bg[data-id="4"] {
				@include opacity(1);
			}
			button {
				background-color:$video4UI;
			}
			.title {
				.label {
					color:$video4UI;
					background-color:$video4BG;
					span.bar1 {background-color:$video3BG;}
					span.bar2 {background-color:$video2BG;}
				}
			}
		}
		.vThumb[data-id="4"] {
			display:none;
		}
	}
	&[data-playing-id="5"] {
		background-color:$video5BG;
		.overlay {
			.bg[data-id="5"] {
				@include opacity(1);
			}
			button {
				background-color:$video5UI;
			}
			.title {
				.label {
					color:$video5UI;
					background-color:$video5BG;
					span.bar1 {background-color:$video2BG;}
					span.bar2 {background-color:#e9bdd0;}
				}
			}
		}
		.vThumb[data-id="5"] {
			display:none;
		}
	}

	.videoThumbs {
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		margin-top:$rs20;

		a {
			width:24%;
			
			@media #{$sm-md-only} {
				width:48%;
				margin-bottom:$rs20;
			}

			img {
				width:100%;
			}
		}
	}

}

/* end of about block */